<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
#if (!$pageTileDictionaryDTO)
	#if ($_commandName)
		#springBind( "${_commandName}.pageTileDictionaryDTO" )
		#set ($pageTileDictionaryDTO = ${status.value})
	#end
#end
#if ($pageTileDictionaryDTO)
#set ($hotDealsDTO=$pageTileDictionaryDTO.getPageTile("hotDealsDTO") )
#set ($childItemsHomeDTO=$pageTileDictionaryDTO.getPageTile("childItemsHomeDTO") )
#set ($vCatsCategoryDTO=$pageTileDictionaryDTO.getPageTile("vCatsCategoryDTO") )
#end




<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		
		<title>Forgot Password</title>
		<link rel="shortcut icon" href="/favicon.png">
		
#if($vendorSettingsDTO.themeId) 
	#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/commonCSS-JS.vm")
#else
	#parse("$vendorSettingsDTO.vendorId/commonCSS-JS.vm")
#end
	
	</head>
	
	<body>

		<div id="masterWrapper">
<!-- START header -->
#if($vendorSettingsDTO.themeId) 
      #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/header.vm")
#else
       #parse("$vendorSettingsDTO.vendorId/header.vm")
#end
<!-- END header -->
		<div id= "bd" class="checkout">
					<div id="wide-content" class ="yui-g">
							<h1 >Log In </h1>
							
							<!---start new user-->
							<div class="yui-u first">
								
									<h2>Create Account</h2>
									<p>New Customers Start Here, create a new account now to get advanced notice of sales and special offers.</p>
									<br />
									<p>
										<input type="button" class="btnLogin btnclass" value="Create Account" onclick="window.location='register.html?vid=${vendorSettingsDTO.vendorId}#if(${loginViewDTO.memberType})&mt=${loginViewDTO.memberType}#else&mt=3#end#if($authenticationRedirectURL && $authenticationRedirectURL!='')&redirecturl=${authenticationRedirectURL}%26fr%3Dregister#end';"/>
									</p>
							</div>
				 			 <!--end login_left-->

							<!--start login_right-->
							<div  class="yui-u vertSeparator">
								<div class="u-leftpad">
									<h2>Forgot Your Password?</h2> 
									<p >Enter the email you registered with and we will send you a new password.</p>
								
									<form name="frm" method="POST" action="forgot_password.html?vid=${vendorSettingsDTO.vendorId}">
					#springBind("loginViewDTO.doSubmit")
										<input type=hidden id=hiddenlogin name="$status.expression">
									
					#springBind( "loginViewDTO.*" )
					#foreach($error in $status.errorMessages) 
										<div class="warning">$error</div>
					#end
									
					#if($ehint && $ehint eq "SUCCESS")
                                           <b style="color:red;">
                                         Thank you. An email has been sent with your new password.</b>
                                         #end
									
										<div>
											<div>
												<br />
												<p>
													Email:
												</p>
												<p>
													<input value="" name="login" id="login" class="login_text" maxlength="50" tabindex="1" type="text"/>
												</p>
											</div>
											<div>
												<p>
													<br/>
													<input type ="hidden" name = "mode">
													<input class="btnLogin btnclass" type="submit" name="Submit" value="Send Email" onClick="JavaScript:document.frm.mode.value='sendEmail';document.frm.hiddenlogin.value='Send Email';"/>
												</p>
												<p>
													<br/>
												 	<input type="hidden" value="$!authenticationSubmitURL" name="Log In">
													<a href='https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/signin.html?vid=${vendorSettingsDTO.vendorId}&mt=1&redirecturl=${welcomeMatDTO.currentEncodePage}'>Back to login</a>   
												</p>
											</div>
										</div>
									</form>
								</div>
							</div>
							<!--end login_right-->					
					</div>
					<!-- end yui-g -->
		</div>
		<!-- end bd -->
		
<!-- START footer -->
#if($vendorSettingsDTO.themeId) 
      #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/footer.vm")
#else
       #parse("$vendorSettingsDTO.vendorId/footer.vm")
#end
<!-- END footer -->

		</div>
		<!-- end masterWrapper -->


</body>
</html>