<h3>Account Management</h3>

<ul class="no-bullet">
	<li><a href="myaccount.html?mode=vieworder"> #springMessage("vm.myaccount.vieworders")</a></li>          
	<li><a href="myaccount.html?mode=billingaddress"> #springMessage("vm.myaccount.billingadd")</a></li>          
	<li><a href="myaccount.html?mode=changepassword"> #springMessage("vm.myaccount.changepassword")</a></li>          
	<li><a href="myaccount.html?mode=customerinfo"> #springMessage("vm.myaccount.customeradd")</a></li>          
	<li><a href="myaccount.html?mode=shippingaddress"> #springMessage("vm.myaccount.shippingadd")</a></li>          
	<!-- <li><a href="myaccount.html?mode=viewproperties">#springMessage("vm.myaccount.accountpref")</a></li>  -->        
	<li><a href="myaccount.html?mode=giftcertcodes_local&vid=$vid"> #springMessage("vm.myaccount.mygccard")</a></li>
#if($isAdmin)
	<li><a href="nwrevieworders.html?vid=$vid"> Review Customer Orders</a></li>
#end
</ul>
