<!DOCTYPE html>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/global_vars.vm")
#set($focusNum = $productsDetails.products.size())
#if($crossSell.size())
  #set($itemsCount = $crossSell.size() + $focusNum)
#else
  #set($itemsCount = $focusNum)
#end

#if($focusNum > 0)
  #set($focusNum = $focusNum - 1)
#end

#if($customerAllowances)
  #set($cusalllowances=$math.roundTo(2,$!customerAllowances))
#else
  #set($cusalllowances=0)
#end

#set($navigationDTO = $request.session.getAttribute("Navigation").navigations.get($vendorSettingsDTO.vendorId))

#if(!$navigationDTO)
   #set($error2 = "no navigation")
#else
   #set($error2 = "navigation present")
#end

#if ($request.session.getAttribute().size()!= 0)
   #set($test = "more that 0")
#else
  #set($test = "zero")
#end

#set( $propName = "SessionCustomerDTO_"+$vid)
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="interestgroup" content="tp">
		<meta name="prodtype" content="">
		<title>#springMessage('vm.basket.title')</title>
		<link rel="stylesheet" type="text/css" media="all" href="assets/commercelib/deliveryoption/deliveryoption.css"/>
		<link rel="stylesheet" type="text/css" href="assets/plugins/yahooUI/build/calendar/assets/calendar.css">
		<link rel="stylesheet" href="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/datepicker/datepicker.css" type="text/css" media="all" />
		#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")

	<style type="text/css">
	.modal.fade.in {top: 100%;}
	</style>
	</head>
	
	<body>

    ############################ Header ####################################
#if($vendorSettingsDTO.themeId == $storeSkinId)
    #parse("/$vendorSettingsDTO.vendorId/$storeSkinId/banner.vm")
#else
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/${storeclass}_banner.vm")
#end
    ############################ End Header ################################
    
    ############################ Search Bar ################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/search_bar.vm")
    ############################ End Search Bar ############################

		<div class="row">
			<div  id="left-col" class="small-4 columns">
#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/breadcrumbs.vm")
			</div>
		
			<div id="right-col" class="small-8 columns" >
				
        <form name="VIEWCART" action="" method="post" onSubmit="javascript:updateQuantities();">
          <div class="container-fluid">
            <h2 class="inline-middle">#springMessage('vm.basket.title')</h2>
            <input class="btn" type="button" value="#springMessage('vm.basket.toshop')" onclick="javascript:document.location='store.html?vid=${vendorSettingsDTO.vendorId}&cid=23049' " />
#if($productsDetails.allowanceswarningmsg  && $productsDetails.enableOrderAllowance == 'ALLOWANCE')
            <div class="alert alert-error span6">#springMessage('vm.basket.warningallowancesmsg')$regExp.showPrice($cusalllowances)</div>
#end
#springBind( "basketDTO.*" )
#if($status.errors.errorCount>0)
            <div class="alert alert-error span6">
              <h4>There were problems with your basket:</h4>
              <ul>
  #foreach($error in $status.errorMessages)
                <li>$error</li>
  #end
              </ul>
            </div>
#end

#if($basketDTO.notaddtocartmsg)
  #foreach($ac_msg in $basketDTO.notaddtocartmsg)
            <div class="alert alert-error span12">
              <span>* $ac_msg</span>
            </div>
  #end
#end

            <input type="hidden" name="_targetupdateBasket" value="basket.html?vid=$vendorSettingsDTO.vendorId"/>
            <input type="hidden" name="mode" value=""/>
            <input type="hidden" name="itemscount" value="$itemsCount"/>
#if($productsDetails.products.size()>0)
  #if(!$currencyInUse)
    #foreach($cur in $storeCurrencies)
      #if($cur.def==1)
            <input type="hidden" name="c" value="$cur.id" />
      #end
    #end
  #else
            <input type="hidden" name="c" value="$currencyInUse" />
  #end
            <input type="hidden" name="orderType" value="P"/>
            <input type="hidden" name="_targetcheckout" value="checkout.html?vid=$vendorSettingsDTO.vendorId"/>
  #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/basket_products.vm")

            <div class="row-fluid">
#if($totalQty > 0)
              <div class="span3 offset7">
                <div class="checkout-total">
                  Total ($totalQty #if($totalQty > 1)#springMessage('vm.register.items')#else #springMessage('vm.register.item')#end)</span>:
                </div>
              </div>
              <div class="span2">
                <div class="checkout-total">
  #set($total=$math.sub($subtotal, 0))
                  <span class="grand-total">$$!regExp.currencyInteger($viewStoreCurrency.locale, $total).<sup>$!regExp.currencyFraction($viewStoreCurrency.locale, $total)</sup></span>
                </div>
#end
              </div><!-- span12 -->
            </div><!-- row-fluid -->


            <div class="row-fluid">
              <div class="span12">
#if(!${welcomeMatDTO.loggedIn})
                  <div class="form-actions restoreBasket">
                    <strong>#springMessage('vm.basket.logintorestoreasavedbasket'):</strong> <input type="button" class="btn btn-primary" onclick="JavaScript:window.location.href='https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/signin.html?vid=${vendorSettingsDTO.vendorId}&mt=1&redirecturl=${welcomeMatDTO.currentEncodePage}'" class="proceed btnLogin" value="#springMessage("button.LOGIN")">
                  </div>
#else
  #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/basket_saveforlater.vm")
#end
              </div>
            </div>


            <div class="form-actions">
              <input id="checkoutbtn" type="button" class="btn btn-primary" value="#springMessage('vm.basket.tocheckout')" onclick="javascript:document.VIEWCART.mode.value='checkout';document.VIEWCART.submit();"/>
              <input class="btn" type="button" value="#springMessage('vm.basket.toshop')" onclick="javascript:document.location='store.html?vid=${vendorSettingsDTO.vendorId}'"/>
            </div>

  #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/basket_crosssell.vm")
#else
            <div class="basket-item-desc f-buttons">
              <b>#springMessage('vm.basket.msg')</b>
              <a href="store.html?vid=${vendorSettingsDTO.vendorId}">#springMessage('vm.basket.toshop')</a>
  #if(!${welcomeMatDTO.loggedIn})
              <b><a href="https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/signin.html?vid=${vendorSettingsDTO.vendorId}&mt=1&redirecturl=${welcomeMatDTO.currentEncodePage}">#springMessage('vm.header.login')</a> #springMessage('vm.basket.loginmsg')  </b>
  #end
            </div>
#end
          </div><!-- end container-fluid -->
        </form>
      </div> <!-- end span 8 -->
    </div>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/footer.vm")
    <div id= "test" class="yui-skin-sam">
      <div id="cal1Container"></div>
    </div>
    <div id="deliverypopup" class="popup_menu" style="top:140%"></div>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_js.vm")
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/basket.js"></script>

#if(${welcomeMatDTO.loggedIn})
    <script type="text/javascript">
      var lists = [], currency = 0;
  #foreach($nickname in $availBasketList)
    #set ($rowNumber = $velocityCount - 1)
      lists.push("$nickname");
  #end
  #if(!$currencyInUse)
    #foreach($cur in $storeCurrencies)
      #if($cur.def==1)
      currency = $cur.id;
      #end
    #end
  #else
      currency = $currencyInUse;
  #end

      myBasket.initialize({
        basketLists: lists,
        warningErrors: {
          checkOption: '#springMessage("vm.basket.checkoption")',
          basketLimit: '#springMessage("vm.basket.maxnumberbaskets")',
          invalidNickname: '#springMessage("vm.basket.validnickname")',
          selectBasket: '#springMessage("vm.basket.choosebasket")'
        },
        itemsCount: $itemsCount,
        vendorId: $vendorSettingsDTO.vendorId,
        currency: currency,
        themePath: 'store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname'
      });

     #*$(document).ready(function(){
        createCalendar();
      });*#
    </script>
#end
    ##<script language="javascript" src="assets/commercelib/basket/saveBasket.js"></script>
    <script type="text/javascript" src="assets/plugins/yahooUI/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="assets/commercelib/basket/basket.js"></script>
    <script language="javascript" src="assets/commercelib/ajax/ajax_object.js"></script>
    <script language="javascript" src="assets/commercelib/deliveryoption/deliveryoption.js"></script>
    ##<script type="text/javascript" src="assets/plugins/yahooUI/build/calendar/calendar-min.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/plugins/datepicker/bootstrap-datepicker.js"></script>

#set ($basketForceRefresh = $request.getParameter('bfr'))
#if ( $basketForceRefresh.equals("true") )
    <script type="text/javascript">
         alert("#springMessage('vm.basket.forcerefresh')")
    </script>
#end

    <script type="application/javascript">
    $('.showEditDate > a').datepicker()
      .on('changeDate', function(ev){
        var month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'September', 'August', 'October', 'November', 'December'];
        $(ev.target).parent().parent().find('.showReqDate').val(month[ev.date.getMonth()] + ev.date.getDate() + ', ' + ev.date.getFullYear());
        $(ev.target).datepicker('hide');
        document.VIEWCART.submit();
      });

    function showToastr(mode) {
      if (mode === 'update') {
        toastr.success('Updating item...');
      } else {
        toastr.warning('Removing items...');
      }
    }

    function createCalendar() {}
    </script>

#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/shipping_cost_estimator.vm")
  </body>
</html>