
<!DOCTYPE html>
#set($storeSkinId = $vendorSettingsDTO.themeId)
#parse("/$vendorSettingsDTO.vendorId/$storeSkinId/global_vars.vm")

#if ($request.session.getAttribute().size()!= 0)
   #set($test = "more that 0")
#else
  #set($test = "zero")
#end

#* #if(!${welcomeMatDTO.loggedIn})
<script type="text/javascript">
<!--
window.location = "$baselink/signin.html?vid=20120606532&mt=1"
//-->
</script>
#end *#

#if (!$pageTileDictionaryDTO)
  #if ($_commandName)
    #springBind( "${_commandName}.pageTileDictionaryDTO" )
    #set ($pageTileDictionaryDTO = ${status.value})
  #end
#end

#if ($pageTileDictionaryDTO)
  #set ($vCatsCategoryDTO=$pageTileDictionaryDTO.getPageTile("vCatsCategoryDTO") )
#end


#if(($multiPageViews) && ($__virtualCategory))
  #set($itemMultiPageView = $multiPageViews.get($__virtualCategory.getPageTileName()))
#end

#if (!$direction) #set($direction = $regExp.getParamFromURL($itemMultiPageView.multiPageURL, 'direc'))  #end
#if (!$mpvp&&$itemMultiPageView&&$itemMultiPageView.currentPageIndex)
  #set($mpvp = $itemMultiPageView.currentPageIndex)
#else
  #set($mpvp = "")
#end

#set($catid = $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'categoryid'))
#set($metadescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metadescription'))
#set($metakeywords= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metakeywords'))
#set($pagetitle= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'pagetitle'))
#set($categoryImage= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'image'))
#set($categoryThumb= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'thumbimage'))
#set($categoryName= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'name'))
#set($category= $pageTile.getItemObject($childCategoriesDTO, $childCategoriesDTO.getItems(), "c"))
#set($categoryDescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'description'))
#if($CookiesDTO && $CookiesDTO.getCookieValue('preferences'))
  #if($CookiesDTO.getCookieValue('preferences')=="grid")
    #set($itemViewClass= "grid")
  #else
    #set($itemViewClass= "list")
  #end
#else
  #set($itemViewClass= "grid")
#end

#*********************************************
* The following block of code is used together with the
* redirect to item option in category properties
* this should automatically redirect the category to
* the single item in that category.
*********************************************#
##
#set($category1= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'c'))
#set($childItemsViewDTO = $multiPageViews.get("childItemsDTO"))
#if($category1.autoview==1 && $childItemsViewDTO.itemsCount==1)
  #foreach($itemIter in $childItemsDTO.getItems())
    #set($childItem = $pageTile.getItemObject($childItemsDTO, $itemIter, "i"))
  #end
  $response.sendRedirect($seourl.encodeURL("store.html?cid=$catid&vid=$vendorSettingsDTO.vendorId&iid=$childItem.itemid"))
#end

#**
 * Enables the use of the facet search on the category page only.
 *#
#set($useFacet = true)
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <base href="$baselink"/>
    <meta name="description" content="#if($metadescription!="") $metadescription #else   #end" />
  #if(false)
    <meta name="keywords" content="#if($metakeywords!="")$metakeywords #else   #end" />
  #end
  <title>$storeName - $categoryDescription</title>
#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")
  </head>
	<body>
	<!--category_template.vm-->
    ############################ Mini Nav #################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/mini_nav.vm")
    ############################ Ends Mini Nav ############################ 
    
    ############################ Header ####################################
#if($vendorSettingsDTO.themeId == $storeSkinId)
    #parse("/$vendorSettingsDTO.vendorId/$storeSkinId/banner.vm")
#else
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/${storeclass}_banner.vm")
#end
    ############################ End Header ################################
    
    ############################ Search Bar ################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/search_bar.vm")
    ############################ End Search Bar ############################

		<div class="row page">
			<div  id="left-col" class="small-4 columns">
#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/breadcrumbs.vm")
			</div>
		
			<div id="right-col" class="small-8 columns" >
			
		    	<div class="row">
	                <h2 class="category-title">$categoryDescription</h2>
                </div>
    ############################ Advertising Area ##########################
	#* Uncomment this if category image and featured items is needed 
				<div class="row-fluid">
					<div class="span8">

#if($category_ad_topDTO.getItems().get(0).get('category_ad_top').indexOf('blank.vm') >= 0)
  #if($childCategoriesDTO.getItems().size() > 0)
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/featureditems.vm")
  #end
#else
  #parse($category_ad_topDTO.getItems().get(0).get('category_ad_top'))
#end
					</div>
				<div class="span4">
#if($childCategoriesDTO.getItems().size() > 0)
  #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/Cat_Featured_products.vm")
#end
				</div>
        </div>
	*#      
    ######################## End Advertising Area ##########################

				<div class="row">

#parse($category_centerDTO.getItems().get(0).get('category_center'))

#if($childCategoriesDTO.getItems().size()!=0)
  #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/categoryT_subcategoryGridList.vm")
#end

#if($childCategoriesDTO.getItems().size()==0)
  ## The following variables is needed to define the DTO in the agination
  #set($itemsDTO = $childItemsDTO)
  #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/categoryT_itemList.vm")
#end
            
				</div> <!-- end row -->

			</div> <!-- end right col -->
		</div> <!-- end row -->
##parse("$vendorSettingsDTO.vendorId/customer_data_form.vm")
      </div>
#parse($category_bottomDTO.getItems().get(0).get('category_bottom'))
      </div><!-- end span10 -->
#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/footer.vm")
    </div>
#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_js.vm")
##parse("/$vendorSettingsDTO.vendorId/$masterSkinId/quicklook_ext.vm")
##parse("/$vendorSettingsDTO.vendorId/$masterSkinId/quickadd_ext.vm")
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/js/category.js"></script>
  <script type="text/javascript" language="javascript">
    Category.initialize();
    $('#featureCarousel, #myCarousel').carousel({interval: 4000});
  </script>
  </body>
</html>