<div class="row">
	<h2>#springMessage("vm.myaccount.changepassword")</h2>
	<div class="info_needed">#springMessage("vm.billingaddress.msg1")
	  (<span class="needed_star">*</span>)#springMessage("vm.billingaddress.msg2")
	</div>
</div> <!-- end row -->

#springBind( "myAccountDTO.*" )
#foreach($error in $status.errorMessages)
  #set($errorCount = $velocityCount)
#end

#foreach($error in $status.errorMessages)
  #if($velocityCount == 1)
    <div class="row-fluid">
      <div class="alert alert-error span6">
        <button data-dismiss="alert" class="close" type="button">&times;</button>
        <p><strong>Warning!</strong></p>
        <ul>
  #end
          <li>$error</li>
  #if($velocityCount == $errorCount)
        </ul>
      </div>
    </div>
  #end
#end

<div class="row">
	<div class="small-6">	
	#springBind("myAccountDTO.oldpassword")
		<div class="control-group">
			<label class="control-label" for="${status.expression}">#springMessage("vm.changepassword.oldpwd")<span class="needed_star">*</span></label>
			<input value="" name="${status.expression}" type="password" size="30" maxlength="30">
		</div>
	#springBind("myAccountDTO.newpassword")
		<div class="control-group">
			<label class="control-label" for="${status.expression}">#springMessage("vm.changepassword.newpwd")<span class="needed_star">*</span></label>
			<input value="" name="${status.expression}" type="password" size="30" maxlength="30">
		</div>
	#springBind("myAccountDTO.confirmpass")
		<div class="control-group">
			<label class="control-label" for="${status.expression}">#springMessage("vm.changepassword.confirm")<span class="needed_star">*</span></label>
			<input value="" name="${status.expression}" type="password" size="30" maxlength="30">
		</div>
	</div> <!-- end s6 -->
</div> <!-- end row -->

<div class="row">
  <div class="form-actions">
    <input type="hidden" name="_targetchangepassword" value="myaccount.html?mode=changepasswordsuccess&vid=$vendorSettingsDTO.vendorId">
    <button class="button small" type="submit" name="TODO">#springMessage('button.UPDATE')</button>
    <input type="hidden" name="submit" value="update">
  </div>
</div> <!-- end row
