
<!DOCTYPE html>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/global_vars.vm")
#if($request.getServerPort() == 443)
  #if($request.isSecure())
    #set ($baselink = "https://$request.getServerName()$request.getContextPath()/")
  #else
    #set ($baselink = "https://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
  #end
#else
  #if ($request.getServerPort() ==80)
    #set ($baselink = "http://$request.getServerName()$request.getContextPath()/")
  #else
    #set ($baselink = "http://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
  #end
#end
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>#springMessage("vm.checkout_customerinfo.title")</title>
		<meta content="processing your order" name="keywords"/>
		<base href="$baselink"/>
		#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")
		<link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/css/avetti-checkout.css" />
	</head>
	<body id="checkout" class="checkout" onload="showhidepayment_info($checkoutViewDTO.shipTypes.currentType);showhideShipping();">
<!-- checkout_customerinfo.vm-->
    ############################ Mini Nav #################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/mini_nav.vm")
    ############################ Ends Mini Nav ############################ 

    ############################ Header ####################################
    #if($vendorSettingsDTO.themeId == $storeSkinId)
        #parse("/$vendorSettingsDTO.vendorId/$storeSkinId/banner.vm")
      #else
        #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/${storeclass}_banner.vm")
    #end
    ############################ End Header ################################    
	<div class="page">
	    
		<div class="row">
			<div class="small-12">
				<ul class="co-breadcrumb step2">
					<li class="yi"><strong>#springMessage("vm.checkout_customerinfo.infor")</strong></li>
					<li class="sp">#springMessage("vm.checkout_customerinfo.shipping")</li>
					<li class="py">#springMessage("vm.checkout_customerinfo.payment")</li>
					<li class="rv">#springMessage("vm.checkout_customerinfo.placeorder")</li>
					<li class="ty">#springMessage("vm.checkout_customerinfo.confirm")</li>
				</ul>
			</div>
			
			<div class="small-12">
	            <h1>#springMessage("vm.checkout_customerinfo.infor")</h1> 
			</div>
		</div> <!-- end row -->


<div id="bd" class="row">

	<div class="warning" id="yourinfoErrors" style="display:none"></div>                    


	<div class="small-10 small-centered columns">

		<div class="row">
			<form class="f-group horizontal custom-lbl-width" name="frm" action="" method="POST">
				<input type="hidden" name="t">
			#springBind( "checkoutViewDTO.productidx" )
				<input type="hidden" name="$status.expression" value="$!{status.value}">
			#springBind( "checkoutViewDTO.addressidx" )
				<input type="hidden" name="$status.expression" value="$!{status.value}">
			#springBind( "checkoutViewDTO.addresses.billingAddress.addressId" )
				<input type="hidden" name="$status.expression" value="$!{status.value}">
			#springBind( "checkoutViewDTO.qty" )
				<input type="hidden" name="$status.expression" value="$!{status.value}">
				<input type="hidden" id="anchorName_id" name="anchorName" value="">
			#springBind("checkoutViewDTO.*")
				#if($status.errors.errorCount>0)
					<div class="yui3-u-1 error-text-area uppercase" id="postErrors">
						<p>#springMessage("vm.register.error"):</p> 
						<ul>
						#foreach($error in $status.errorMessages)
							<li>
								$error
						</li>
						#end                    
						</ul>
					</div>
				#end
                  
		</div> <!-- end row2 -->  

		<div class="row">
			<div class="large-6 columns">
  				<div class="inner-socket margin-b20">
					<div class="title"><h4> Your Billing Information</h4></div>
					<fieldset>
                    
					<br>
					<div class="required"><span class="star">*</span> required information</div>
					<br>
  
					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.firstName" )
						<label class="control-label"> #springMessage("vm.register.firstname")<span class="needed_star">*</span></label>
						<input name="$status.expression" type="text" value="$!{status.value}" id="fname" size="30" maxlength="20" onBlur="initCap(this)" onSubmit="initCap(this)"/>
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.middleName" )
						<label class="control-label"> #springMessage("vm.register.midname")</label>
						<input name="$status.expression" type="text" value="$!{status.value}" id="middleinit" maxlength="2" size="3" onBlur="initCap(this)" onSubmit="initCap(this)"/>                    
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.lastName" )
						<label class="control-label"> #springMessage("vm.register.lastname")<span class="needed_star">*</span></label>
						<input size="30" maxlength="30" value="$!{status.value}" name="$status.expression" id="lname" type="text" onBlur="initCap(this)" onSubmit="initCap(this)"/>
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.company" )
						<label class="control-label"> #springMessage("vm.register.company")</label>
						<input name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/>
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.dphone" )
						<label class="control-label"> #springMessage("vm.register.phone")<span class="needed_star">*</span></label>
						<input id="cname" value="$!{status.value}" name="$status.expression" size="30" maxlength="50" type="text"/>
					</div>                  

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.address1" )
						<label class="control-label"> #springMessage("vm.register.address") 1<span class="needed_star">*</span></label>
						<input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" onblur="fieldBlurred(this,1);initCap(this)" onSubmit="initCap(this)"/>
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.address2" )
						<label class="control-label"> #springMessage("vm.register.address") 2</label>
						<input name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)" />
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.city" )
						<label class="control-label"> #springMessage("vm.register.city")<span class="needed_star">*</span></label>
						<input type="hidden" id="city" value="$!{status.value}"/>
						<input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30"  onblur="fieldBlurred(this,2);initCap(this),initCityId(this);calcShippingAndTax();" onSubmit="initCap(this)"/>
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.countryId" )               
						<label class="control-label">#springMessage("vm.register.country") <span class="needed_star">*</span></label>
						<input type="hidden" id="countryid" value="$!{status.value}"/>
						<select id="$status.expression" size="1" name="$status.expression" onChange="changeRegion(this.value);isBillingAddressChanged=true;" id="Billing_Country">
                          <!--<option value="0">Choose One</option>-->                                                              <option value="0">#springMessage("vm.register.chosecountry")</option>
					#foreach($country in ${checkoutViewDTO.addresses.billingAddress.countries})
							<option #if($status.value&&$country.country.id == $status.value) selected="selected" #end value="$country.country.id"/>$country.country.name</option>
					#end
                        </select>
					</div>                 
#set($state="none")
#set($province="inline")
#springBind("checkoutViewDTO.addresses.billingAddress.countryId")
#foreach($country in $countriesInUse)
	#if($country.id==${status.value})
		#if($country.a2 == "US")
			#set($region = "state")
		#end
	#end
#end                  
                
					<div class="control-group">
				#springBind("checkoutViewDTO.addresses.billingAddress.provinceId")                
						<label id="state"  class="control-label"> $#if($region&&$region=="state")#springMessage("vm.register.state")#{else}#springMessage("vm.register.province")#{end}<span class="needed_star">*</span></label>
						<input type="hidden" id="provinceid" value="$!{status.value}" />
					#if(${checkoutViewDTO.addresses.billingAddress.provinceId}!=0)
						<select name="$status.expression" id="region" onchange="isBillingAddressChanged=true; changeprovicne(this);calcShippingAndTax();">
					#else
						<select name="$status.expression" id="region" onchange="isBillingAddressChanged=true; changeprovicne(this);calcShippingAndTax();" style="display:none">
					#end

						<option value="0">#springMessage("vm.register.choseprovince")</option>
					#foreach($province in $provincesInUse)
						#if(${province.countryid} == ${checkoutViewDTO.addresses.billingAddress.countryId} )
							#if( ${province.id} == ${checkoutViewDTO.addresses.billingAddress.provinceId})
						<option value="${province.id}" selected>${province.name}</option>
							#else
						<option value="${province.id}">${province.name}</option>
							#end
						#end
					#end
						</select>

#springBind("checkoutViewDTO.addresses.billingAddress.anotherProvince")
					#if(${checkoutViewDTO.addresses.billingAddress.provinceId}!=0)
						<input id="otherregionForBilling" size="30" maxlength="50" value="$!{status.value}" name="$status.expression" type="text" onblur="fieldBlurred(this,4);calcShippingAndTax();" style="display:none"/>
					#else
						<input id="otherregionForBilling" size="30" maxlength="50" value="$!{status.value}" name="$status.expression" type="text" onblur="fieldBlurred(this,4);calcShippingAndTax();"/>
					#end
					</div>


					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.postal" )
						<label  class="control-label"> #springMessage("vm.register.postal")<span class="needed_star"> *</span></label>
						<input type="hidden"	id="postal" value="$!{status.value}" />
						<input id="$status.expression" size="30" maxlength="9" value="$!{status.value}" name="$status.expression" type="text" onblur="fieldBlurred(this,3); calcShippingAndTax();"/>
					</div>

					<div class="control-group">
				#springBind( "checkoutViewDTO.addresses.billingAddress.email" ) 
						<label class="control-label"> #springMessage("word.email")<span class="needed_star">*</span></label>
                      <div class="f-field">
                        #if($status.value && $status.value != '' && !$status.error)
                           <span>$!{status.value}</span>
                           <input type="hidden" name="$status.expression" value="$!{status.value}" />
                         #else
                           <input type="text" name="$status.expression" value="$!{status.value}" size="30" maxlength="50" />
                         #end
                      </div>
                    </div>
  #springBind( "checkoutViewDTO.shipTypes.currentType")
  #if($checkoutViewDTO.allNoneShippableItems)
                   
  #if($checkoutViewDTO.billingandshippinginonepage)
                  <input id="rdoDiffAddr" style="display:none;" type="radio" name="$status.expression" value="2" checked >
  #else
           <input id="rdoThisAddr" style="display:none;" type="radio" name="$status.expression" value="1" checked >
  #end
  #else
                    <div class="shipped-to horizontal custom-lbl-width hide">
                      <span>#springMessage("vm.register.msg2"):</span><br /><br />
					<div class="control-group"
  #if($checkoutViewDTO.billingandshippinginonepage)  style="display:none;" #end>
                        <input id="rdoThisAddr" name="$status.expression" value="1" type="radio" #if($status.value&&$status.value==1)checked#end  onclick="showhidepayment_info(1);"/>
                        <div class="f-field">
                          <label for="rdoThisAddr">#springMessage("vm.register.this")</label>
                        </div>
                      </div>
					<div class="control-group">
                        <input id="rdoDiffAddr" name="$status.expression" value="2" type="radio" #if($status.value&&$status.value==2)checked#end  onclick="showhidepayment_info(2);"/>
                        <div class="f-field">
                          <label for="rdoDiffAddr">#springMessage("vm.register.another")</label>
                        </div>
                      </div>
  #set($itemindex= 0)
  #foreach($productgroup in $$checkoutViewDTO.details.shippinggroup)
      #foreach($productitem in $productgroup.shipItems)
        #set($itemindex= $itemindex+ $productitem.shipaddr.qty)
      #end
  #end
  
  #if($itemindex>1)
					<div class="control-group">
                        <input id="rdoMultAddr" name="$status.expression" value="3" type="radio" #if($status.value&&$status.value==3)checked#end  onclick="showhidepayment_info(3);"/>
                        <div class="f-field">
                          <label for="rdoMultAddr" class="not-fixed">#springMessage("vm.register.multiple")</label>
                        </div>
                      </div>              
  #end
  #foreach($recount  in $checkoutViewDTO.retailers)
  #set($retailcount=$recount)
  #end
  
  #if($retailcount)
					<div class="control-group">
                        <input id="rdoMultAddr" name="$status.expression" value="4" type="radio" #if($status.value&&$status.value==4)checked="checked"#end onclick="showhidepayment_info(4);"/>
                        <div class="f-field">
                          <label for="rdoMultAddr" class="not-fixed">#springMessage("vm.register.shipretailers")&nbsp;</label>
                        #springBind( "checkoutViewDTO.retailerid")
                         <select id="selretailer"  name="$status.expression">
                          <option value="0">#springMessage("vm.register.plselectretailer")</option>
                        #foreach($retail  in $checkoutViewDTO.retailers)
                          <option value="$retail.retailer.id" #if($status.value&&$status.value==$retail.retailer.id) selected  #end>$retail.retailer.name</option>
                        #end
                         </select>
                        </div>
                      </div>   
  #end            
                    </div><!-- End shippedTo -->
  #end
  
                    <div id="managerEmail" class="control-group">
                          <label class="control-label"> Secondary Email Address: </label>
                          <input type="text" name="managerEmail" size="20" value="$!{session.getAttribute("managerEmail")}">       
                    </div>
          </fieldset>              
  </div>
		</div> <!-- end s5 -->
  


                    <div class="large-6 columns">
  
  #if($checkoutViewDTO.billingandshippinginonepage)
		
    <div class="inner-socket"  id="shippingInfo" style="display:none">
    
			<div class="title"><h4> Your Shipping Infomation</h4></div>
			<fieldset>

  <div class="yui3-u-1-2 padding-10">
               <div class="required"><span class="star">*</span> required information</div>
  <br>
  #springBind( "checkoutViewDTO.addresses.shippingAddress.addressId" ) 
              <input type="hidden" id="$status.expression" name="$status.expression" value="$!{status.value}">
  #springBind( "checkoutViewDTO.billingandshippinginonepage" ) 
              <input type="hidden" id="$status.expression" name="$status.expression" value="$!{status.value}">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.clientId" ) 
              <input type="hidden" name="$status.expression" value="$!{status.value}">
					<div class="control-group">
  #springBind("checkoutViewDTO.sameAsBillingAddress")
  <label onclick="" class="not-fixed">
	  <input id="sameasbilling" name="$status.expression" #if($status.value==true)checked="checked"#end type="checkbox" onclick="showhideShipping();showhidepayment_info(2);"/>Same as billing address
  </label>
  </div>
  <div id = "notSameAsBilling">
					<div class="control-group">
    #springBind("checkoutViewDTO.shipaddressid")
  
      <select id="shipaddressid"  name="$status.expression" onchange="shippingaddressChanged(this.value);">
  <option value="0" >choose address on file</option>
       #foreach($address in $customerAddressDTO)
  
          <option value="$address.addressid" #if($checkoutViewDTO.addresses.shippingAddress.addressId==$address.addressid) selected  #end> $address.nickname</option>
             
           #end
       </select>
  <a href="myaccount.html?mode=shippingaddress&vid=$vendorSettingsDTO.vendorId">Manage Shipping Address</a>
   </div>
					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.nickName" )
                  <label for="nickName">#springMessage("vm.editshippingaddress.nickname")<span class="needed_star">*</span></label>
                    <input id="nickName" name="$status.expression" type="text" value="$!{status.value}" size="30" />
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.firstName" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.firstname")<span class="needed_star">*</span></label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/>
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.middleName" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.middlename")</label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="3" onBlur="initCap(this)" onSubmit="initCap(this)"/>
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.lastName" )
                  <label  class="control-label" for="$status.expression">#springMessage("vm.checkout_address.lastname")<span class="needed_star">*</span></label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/>
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.company" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.company")</label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/>
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.address1" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.adress") 1<span class="needed_star">*</span></label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/>
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.address2" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.adress") 2</label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/>
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.city" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.city")<span class="needed_star">*</span></label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/>
                </div>
                
					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.countryId" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.country")<span class="needed_star">*</span></label>
                  <div class="f-field">
                    <select size="1" id="$status.expression" name="$status.expression" onchange="changeRegion1(this.value)">
                      <option value="0">#springMessage("vm.checkout_address.selectcountry")</option>
  #foreach($country in ${checkoutViewDTO.addresses.shippingAddress.countries})
                        <option #if($country.country.id == $status.value) selected="selected" #end
                        value="$country.country.id">
                        $country.country.name
                      </option>
  #end
                    </select>
                  </div>
                </div>
					<div class="control-group">
  #springBind("checkoutViewDTO.addresses.shippingAddress.provinceId")
                  <label for="$status.expression">#springMessage("vm.checkout_address.region")<span class="needed_star">*</span></label>
                  <div class="f-field">
  #if(${checkoutViewDTO.addresses.shippingAddress.provinceId}!=0)
                    <select name="$status.expression" id="province">
  #else
                    <select name="$status.expression" id="province" style="display:none">
  #end
                      <option value="0">#springMessage("vm.checkout_address.selectregion")</option>
  #foreach($country in ${checkoutViewDTO.addresses.shippingAddress.countries})
  #if(${checkoutViewDTO.addresses.shippingAddress.countryId} == ${country.country.id})
  #foreach($province in ${country.provinces}) 
  #if( ${province.province.id} == ${status.value})
                      <option value="${province.province.id}" selected>${province.province.name}</option>
  #else
                      <option value="${province.province.id}">${province.province.name}</option>
  #end
  #end
  #end
  #end
                    </select>
  #springBind("checkoutViewDTO.addresses.shippingAddress.anotherProvince")
                    <input type="hidden" id="otherprovince" value="$!{status.value}" />
  #if(${checkoutViewDTO.addresses.shippingAddress.provinceId}!=0)
                    <input id="otherregionForShipping" size="30" maxlength="9" value="${status.value}" name="$status.expression" type="text" style="display:none">
  #else
                    <input id="otherregionForShipping" size="30" maxlength="9" value="${status.value}" name="$status.expression" type="text">
  #end
                  </div>
                </div>
					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.postal" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.zippostalcode")<span class="needed_star">*</span></label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" maxlength="9"/>
                </div>

					<div class="control-group">
  #springBind( "checkoutViewDTO.addresses.shippingAddress.phone" )
                  <label for="$status.expression">#springMessage("vm.checkout_address.phone")<span class="needed_star">*</span></label>
                    <input id="$status.expression" name="$status.expression" type="text" value="$!{status.value}" size="30" />
                </div>
  </div>
  
  
  </div>
  </div>
  
  
  
  							
						</fieldset>
						</div> <!-- end s5 -->
  
       	</div> <!-- end row2a --> 
       	
       	<div class="row">

  
  
  
  
  #end
  </div>
  
         	</div> <!-- end row2b -->
	
	  		<div class="row">
                  <div class="question">
                    <!-- START QUESTION CONTENT -->
    	                <input type="hidden" name="mode" value="answerQuestion"/>
  #foreach($popage in $checkOutQuestionDTO.productOptionPageDTOs)
    #foreach($question in $popage.questions)
    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/$question.template")
    #end 
  #end
                    <!-- END QUESTION CONTENT -->
                  </div>
			</div> <!-- end row2c -->
       	 		
                </div> <!-- end s10c -->  

  
                  <input type="hidden" name="vid" value="$vendorSettingsDTO.vendorId">
  ##One page checkout include
  #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/checkoutCI-onepage.vm")
		<!-- </div> end row -->
		

  <!-- External Login -->
  #springBind("checkoutViewDTO.externalLoginDTO.firstName")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.lastName")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.email")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.userName")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.userId")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.systemName")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.externalLocationDTO.country")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.externalLocationDTO.state")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  
  #springBind("checkoutViewDTO.externalLoginDTO.externalLocationDTO.city")
  <input type="hidden" name="$status.expression" value="$status.value" id="$status.expression">
  <!-- END OF External Login -->
  
			</form>
            <!--end tablediv-->

		<div class="row">
			<div class="form-actions">
				<input type="button" class="button small primary" value="#springMessage('button.CONTINUE')" onClick="doContinue('frm', 't', this,'update');"/>
				<input type="button" class="button small smaller" value="#springMessage('button.CANCEL')" onClick="JavaScript:window.location.href='https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/basket.html?vid=${vendorSettingsDTO.vendorId}'"/>
				<div id="payment_method_alert" style="display:none;" class="warning" >#springMessage('vm.register.msg4')</div>
			</div>
		</div> <!-- end row -->



    </div> <!-- end .page -->


    ############################ Footer ###################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/footer.vm")
    ############################ Ends Footer ##############################

    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_js.vm")
    <script src="store/$checkoutViewDTO.vendorId/assets/submit.js"></script>
    <script language="javascript" src="assets/commercelib/ajax/ajax_object.js"></script>
    <script type="text/javascript" src="assets/commercelib/deliveryoption/deliveryoption.js"></script>
    #if($checkoutViewDTO.onepagecheckout)
      <script type="text/javascript" src="/C7pcisecureorderform/assets/pcisecureorderform.js"></script>
    #end








        <script language="javascript">
          function changelocation(thissel, state)
          {
            var otherregion = document.getElementById("otherregion");
            var countryIso = new Array(#foreach($country in $countriesInUse)  '$country.a2', #end 'other');
            var countryId = new Array(#foreach($country in $countriesInUse)  '$country.id', #end 'other');
            var provincesName = new Array(#foreach($province in $provincesInUse) '$province.name', #end 'other');
            var provincesValue = new Array(#foreach($province in $provincesInUse) '$province.id', #end '0');
            var provincesCountry = new Array(#foreach($province in $provincesInUse) '$province.countryid', #end '-1');
            var countryid="0";
            for(var i=0;i < thissel.options.length;i++)
            {
              if(thissel.options[i].selected == true)
                countryid=thissel.options[i].value;
            }
    
            var isoname="";
            for(var i=0;i < countryIso.length;i++)
            {
              if(countryId[i] == countryid)
                isoname=countryIso[i];
            }
            if(isoname=="US")
            {
              $('#' + state).val('#springMessage("vm.register.state")');
            }
            else 
            {
              $('#' + state).val('#springMessage("vm.register.province")');
            }
    
            var provinceselect = "";
            for(var i=0; i<document.frm.elements.length; i++)
            {
              var el = document.frm.elements[i];
              if(el.name == "addresses.billingAddress.provinceId")
              {
                provinceselect=document.frm.elements[i];
              }
            }
    
            if(provinceselect !="")
            {
              provinceselect.length=0;
    
              for(var j=0;j< provincesName.length;j++)
              {
                if(countryid == provincesCountry[j] && countryid != 0)
                {
                  provinceselect.options[provinceselect.length]= new Option(provincesName[j],provincesValue[j]);
                }
              }
              if(provinceselect.length==0)
              {
                provinceselect.options[provinceselect.length]= new Option("Other","0");
                $(provinceselect).hide(); 
                $(otherregion).show(); 
              }
              else
              {
                $(provinceselect).show(); 
                $(otherregion).hide(); 
              }
            }
          }
          

function changeRegion(countryid){ 
document.getElementById("countryid").value=countryid;
var c = document.getElementById("region");
var otherregion = document.getElementById("otherregionForBilling");
 c.length=0;

 if(countryid > 0){
            #foreach($country in $countriesInUse)
            if(countryid == ${country.id})  {
           #set($provicesSize = 0)
                          #foreach($province in $provincesInUse)
                             #if($province.countryid ==${country.id})    
                                   #set($provicesSize =$provicesSize+1 )
                             #end
                          #end
                 #if($provicesSize >0)
                                c.options[c.length]=new Option("#springMessage("vm.register.choseprovince")","-1");## -1 stand for this country has region but select none
                          #foreach($province in $provincesInUse)
                           #if($province.countryid ==${country.id})                      
                                               c.options[c.length]=new Option("$province.name","$province.id");
                             #end
                          #end
                        #else
                                c.options[c.length]=new Option("#springMessage("vm.register.choseprovince")","0"); 
                    #end
                  }  
           #end
    }else{
                c.options[c.length]=new Option("#springMessage("vm.register.choseprovince")","-1");
   }
   
  if(c.options[0].value== 0){
          c.style.display = "none";
          otherregion.style.display = "block";
     } else {
          c.style.display = "block";
          otherregion.style.display = "none";     
     }

}

   function changeRegion1(countryid)
{ 
var c = document.getElementById("province");
var otherregion = document.getElementById("otherregionForShipping");
 c.length=0;
#if($checkoutViewDTO.billingandshippinginonepage)       
 if(countryid > 0){
            #foreach($country in ${checkoutViewDTO.addresses.shippingAddress.countries})
                if(countryid == ${country.country.id}) {
                 #if($country.provinces.size()>0)
                                c.options[c.length]=new Option("#springMessage("vm.register.choseprovince")","-1");// -1 stand for this country has region but select none
                          #foreach($province in ${country.provinces}) 
                                               c.options[c.length]=new Option("$province.province.name","$province.province.id");
                          #end
                        #else
                                c.options[c.length]=new Option("#springMessage("vm.register.choseprovince")","0"); // 0 stand for this country don't have region which need display input field and go around back-end validation
#end
                   } 
           #end
    }else{
                c.options[c.length]=new Option("#springMessage("vm.register.choseprovince")","-1");
   }
   
  if(c.options[0].value== 0){
          c.style.display = "none";
          otherregion.style.display = "block";
     } else {
          c.style.display = "block";
          otherregion.style.display = "none"; 
     }
#end

}

function showhideShipping(){
#if($checkoutViewDTO.billingandshippinginonepage)
var sameasbilling = document.getElementById("sameasbilling");
   if(sameasbilling && sameasbilling.checked){
         document.getElementById("notSameAsBilling").style.display="none";
     }else{
         document.getElementById("notSameAsBilling").style.display="";
   }
#end
}

    function shippingaddressChanged(addressid){ 

        document.getElementById("addresses.shippingAddress.addressId").value=addressid;

          if(addressid>0){

           #foreach($address in $customerAddressDTO) 
               if(addressid == ${address.addressid}){
                     document.getElementById("nickName").value = $('<div/>').html("${address.nickname}").text();
                   document.getElementById("addresses.shippingAddress.firstName").value=$('<div/>').html("${address.firstname}").text();
                   document.getElementById("addresses.shippingAddress.middleName").value=$('<div/>').html("${address.middlename}").text();
                   document.getElementById("addresses.shippingAddress.lastName").value=$('<div/>').html("${address.lastname}").text();
                   document.getElementById("addresses.shippingAddress.company").value=$('<div/>').html("${address.company}").text();
                   document.getElementById("addresses.shippingAddress.address1").value=$('<div/>').html("${address.address1}").text();
                   document.getElementById("addresses.shippingAddress.address2").value=$('<div/>').html("${address.address2}").text();
                   document.getElementById("addresses.shippingAddress.city").value=$('<div/>').html("${address.city}").text();
                   document.getElementById("addresses.shippingAddress.countryId").value="${address.countryid}";
                   changeRegion1("${address.countryid}");
                   document.getElementById("province").value="${address.provinceid}";
                   document.getElementById("otherregionForShipping").value=$('<div/>').html("${address.anotherprovince}").text();
                   document.getElementById("addresses.shippingAddress.postal").value=$('<div/>').html("${address.postal}").text();
                   document.getElementById("addresses.shippingAddress.phone").value=$('<div/>').html("${address.phone}").text();
                 }
          #end
        }else{
                   document.getElementById("nickName").value = "New Address";
                   document.getElementById("addresses.shippingAddress.firstName").value="";
                   document.getElementById("addresses.shippingAddress.middleName").value="";
                   document.getElementById("addresses.shippingAddress.lastName").value="";
                   document.getElementById("addresses.shippingAddress.company").value="";
                   document.getElementById("addresses.shippingAddress.address1").value="";
                   document.getElementById("addresses.shippingAddress.address2").value="";
                   document.getElementById("addresses.shippingAddress.city").value="";
                   document.getElementById("addresses.shippingAddress.countryId").value="0";
                   changeRegion1(0);
                   document.getElementById("otherregionForShipping").value="";
                   document.getElementById("addresses.shippingAddress.postal").value="";
                   document.getElementById("addresses.shippingAddress.phone").value="";
        }
    }
          var isBillingAddressChanged=false;
          var address1_val="$!checkoutViewDTO.addresses.billingAddress.address1";
          var city_val="$!checkoutViewDTO.addresses.billingAddress.city";
          var zip_val="$!checkoutViewDTO.addresses.billingAddress.postal";
          var anotherprovince_val="$!checkoutViewDTO.addresses.billingAddress.anotherProvince";
    
          function fieldBlurred(el, idx)
          {
            switch(idx)
            {
              case 1:
                if(el.value != address1_val)
                {
                  address1_val=el.value;
                  isBillingAddressChanged=true;
                }
                break;
                    
              case 2:
		        if(el.value != city_val)
                {
                  city_val=el.value;
                  isBillingAddressChanged=true;
                }
                break;
                    
              case 3:
                if(el.value != zip_val)
                {
                  zip_val=el.value;
                  isBillingAddressChanged=true;
                }
                break;
              case 4:
                if(el.value != anotherprovince_val)
                {
                  anotherprovince_val=el.value;
                  isBillingAddressChanged=true;
                }
                break;
            }
          }
    
          function setAnchorName(name)
          {
            document.getElementById("anchorName_id").value=name;
          }
    
          function scrollToAnchor(name)
          {
            if(name && name!="")
              location=location+"#"+name;
          }
    
        /**
      * submit the post. If the payment gateway is PCI, then call PCI server asynchronously.
      */
          function doContinue(frmName,actFieldName,btn,todo){
          var thisAddressSelect ;
                #if($checkoutViewDTO.billingandshippinginonepage)
                    thisAddressSelect =  document.getElementById("rdoDiffAddr").checked;
                #else
                    thisAddressSelect =  document.getElementById("rdoThisAddr").checked;
                #end
    
                #if($checkoutViewDTO.onepagecheckout)
                     var pgcode=$("input[name=selectedPaymentGatewayCode]:checked").val();
                #else
                     var pgcode=""
                #end
               if(thisAddressSelect && (pgcode == "PCI2NONE1P" || pgcode == "PCI2CC1P")){
          submitWithPCI(frmName,actFieldName,btn,todo);
               }else{
            $("#yourinfoErrors").hide();
                    $("input[name='"+actFieldName+"'][type='hidden']").val(todo);
                $("form[name='"+frmName+"']").unbind('submit');
                $("form[name='"+frmName+"']").submit();
               }
          }
    
          function checkPaymentMethod()
          {
           
            if(document.getElementById("payment_info").style.display=="none")
                return true;
            var checked = false;
            var pmradio=document.getElementsByName("selectedPaymentGatewayCode");
            for(i=0;i<pmradio.length;i++){
              if(pmradio[i].checked==true){
                     checked = true;
              }
            }
           if(!checked){
              document.getElementById("payment_method_alert").style.display="";
           }
             return checked;
              
          }    
            
          function showhide(pgid,pgcode,radioid,inputid)
          {
            document.getElementById("hidden_pgid").value=pgid;
            showhidecc(pgcode,radioid);
            showhideci(inputid);
          }
    
          function showhideci(inputid)
          {
            var allciinput=new Array();
          #foreach($paymentgateway in ${checkoutViewDTO.ccPreferencesDTO.paymentgateways})
            #if($paymentgateway.inputtype && $paymentgateway.inputtype != 0)
            allciinput.push("input_$velocityCount");
            #end
          #end
    
            var inputfield=document.getElementById(inputid);
            document.getElementById("hidden_inputid").value=inputid;
            if(inputfield)
            {
              inputfield.style.display="";
              inputfield.disabled=false;
			  document.getElementById("radio_text_"+inputid).style.display="";
            }
    
            for(var i=0;i<allciinput.length;i++)
            {
              if(allciinput[i]!= inputid)
              {
                var tempfield=document.getElementById(allciinput[i]);
                tempfield.disabled=true;
                tempfield.style.display="none";
                tempfield.value="";
				document.getElementById("radio_text_"+allciinput[i]).style.display="none";
              }
            }
          }
    
          function clearccinfo()
          {
            //clear normal cc form data
            $("#CARDNO").val("");
            $("#nameoncard").val("");
            $("input[id=cvv][type=text]").val("");

            //clear pci form data
            $("#reviewAndPay-cardNumber").val("");
            $("#reviewAndPay-level2Code").val("");
            $("#creditCard.ccHolderName").val("");
          }
          
          function showhidecc(pgcode,radioid)
          {
        #set($arraystr="")
        #foreach( $a in $pgcodenocc ) 
           #if($velocityCount!=$pgcodenocc.size())
             #set($arraystr=$arraystr+'"'+$a+'"'+',')
           #else
             #set($arraystr=$arraystr+'"'+$a+'"')
          #end
        #end
        
      var noshowccinput =new Array($arraystr);
            var flag=false;
            for(var i=0;i<noshowccinput.length;i++)
            {
              if( noshowccinput[i]==pgcode || pgcode.indexOf("NCC")==0)
              {
                flag = true;
                break;
              }
            }
    
        if(flag)
        {
            $("#cc").hide();
          $("#ccsubmitted").hide();
            $("#payment_method").hide();
            $("#payment_method_ach").hide();  
            clearccinfo();
        } else
        {
            if(pgcode=="ACH")
           {
                 $("#payment_method_ach").show();
                 $("#payment_method").hide();
         }else
          {
               if(pgcode=='PCI2CC1P' || pgcode=='PCI2NONE1P')
             {
                 showhidelast4cc();
                 $("#payment_method_ach").hide();
            }else
            {
                $("#payment_method").show();
                $("#payment_method_ach").hide();
            }
          }       
        
        }
    
            var radiobutton=document.getElementById(radioid);
            if(radiobutton)
            {
              radiobutton.checked=true;
              document.getElementById("hidden_radioid").value=radioid;
            }
               
          }
    
          function setFocus(pidx,sidx,fomode) 
          {
            if(fomode == "1")
            {
            var shiptoid="SHIPTYP_"+pidx+"_"+sidx;
              if(document.getElementById(shiptoid)) 

              {
                document.getElementById(shiptoid).focus();
                document.getElementById(shiptoid).click();
              }
            }
            else if(fomode == "2") 
            {
              if(document.getElementById("CARDNO")) 
              {
                document.getElementById("CARDNO").focus();
              }
            }
            else if(fomode == "3") 
            {
              var msgid="MESSAGE_"+pidx+"_"+sidx;
              if(document.getElementById(msgid)) 
              {
                document.getElementById(msgid).focus();
              }
            }
          }
    
              function showhidepayment(){
                 #if($checkoutViewDTO.hidePaymentMethod)
                       document.getElementById("paymentGateway").style.display="none";
                       $("#paymentGateway_title").hide();
                       $("#paymentGateway_promo").hide();
                 #else if(document.getElementById("paymentGateway")!==null)
                       document.getElementById("paymentGateway").style.display="";
          #end
          }
         
          function showhidepayment_info(val)
          {

  #if($checkoutViewDTO.billingandshippinginonepage)
              var sameas = document.getElementById("sameasbilling");
             if(val && (val==2)){
               #if(!$checkoutViewDTO.allNoneShippableItems)
                 document.getElementById("shippingInfo").style.display="";
               #end
               #if($checkoutViewDTO.onepagecheckout)
                 if(sameas.checked){
                   document.getElementById("payment_info").style.display="";
                 }else{
                   document.getElementById("payment_info").style.display="none";
                }
               #end
           }else{
                document.getElementById("shippingInfo").style.display="none";
               #if($checkoutViewDTO.onepagecheckout)
               document.getElementById("payment_info").style.display="none";
              #end
          }
#else
     #if($checkoutViewDTO.onepagecheckout)
            if(val&&(val==1))//show it
              document.getElementById("payment_info").style.display="";
            else
              document.getElementById("payment_info").style.display="none";
      #else
            return true;
       #end
#end

          }
          
          function initCap(inputObject) 
          {
            var str = inputObject.value;
            
            if (str.length > 0) 
            {
              var words = str.split(" ");
              var i = 1;
              str = words[0].substring(0,1).toUpperCase() + words[0].substring(1, words[0].length);
              
              while (i < words.length) 
              {
                str += " " + words[i].substring(0,1).toUpperCase() + words[i].substring(1, words[i++].length);
              }
              
              inputObject.value = str;
            }
          }
          
          $(document).ready(function(){
            setFocus($checkoutViewDTO.productidx,$checkoutViewDTO.addressidx,$checkoutViewDTO.shipaddressid);
         #if($checkoutViewDTO.onepagecheckout)
              showhide('$checkoutViewDTO.selectedPaymentGatewayId','$!checkoutViewDTO.selectedPaymentGatewayCode','$!checkoutViewDTO.radioButtonId','$!checkoutViewDTO.inputFieldId');
          #end
              #if($checkoutViewDTO.allNoneShippableItems)
                 #if($checkoutViewDTO.billingandshippinginonepage)
                   $("#sameasbilling").attr("checked", true);
                   showhidepayment_info(2);
                 #else
                   showhidepayment_info(1);
                 #end
              #else
                 #if($checkoutViewDTO.billingandshippinginonepage)
                   $("#rdoDiffAddr").attr("checked", true);
                   showhidepayment_info(2);
                 #else
                   showhidepayment_info($checkoutViewDTO.shipTypes.currentType);
                 #end
              #end
              showhideShipping();
              scrollToAnchor('$!checkoutViewDTO.anchorName');
          
             if(document.getElementById("rdoThisAddr").checked){
                 calcShippingAndTax();
             }

          });
      /**
    * according to radio element of this address or same as billing checked or not, return the billing address as the shipping address 
    * or remain the same shipping address.
    */
    function getShippingAdd(){
      var sameAsBilling = $("#sameasbilling").attr("checked");
      var thisAddress = $("#rdoThisAddr").attr("checked");
      if(sameAsBilling == true || thisAddress == true){
        return {"vid" : "$checkoutViewDTO.vendorId",
              "countryid" : $(":input[name='addresses.billingAddress.countryId']").val(),
            "provinceid" : $(":input[name='addresses.billingAddress.provinceId']").val(),
            "anotherprovince" : $(":input[name='region']").val(),
            "city" : $(":input[name='addresses.billingAddress.city']").val(),
            "postal" : $(":input[name='addresses.billingAddress.postal']").val(),
            "address1" : $(":input[name='addresses.billingAddress.address1']").val(),
            "address2" : $(":input[name='addresses.billingAddress.address2']").val(),
            "firstName" : $(":input[name='addresses.billingAddress.firstName']").val(),
            "middleName" : $(":input[name='addresses.billingAddress.middleName']").val(),
            "lastName" : $(":input[name='addresses.billingAddress.lastName']").val(),
            "phone" : $(":input[name='addresses.billingAddress.dphone']").val(),
            "shippingemail" : $(":input[name='addresses.billingAddress.email']").val(),
            "shipping" : "shippingindetail"};
      }else{
        return {"vid" : "$checkoutViewDTO.vendorId",
              "countryid" : $(":input[name='addresses.shippingAddress.countryId']").val(),
            "provinceid" : $(":input[name='addresses.shippingAddress.provinceId']").val(),
            "anotherprovince" : $(":input[name='province']").val(),
            "city" : $(":input[name='addresses.shippingAddress.city']").val(),
            "postal" : $(":input[name='addresses.shippingAddress.postal']").val(),
            "address1" : $(":input[name='addresses.shippingAddress.address1']").val(),
            "address2" : $(":input[name='addresses.shippingAddress.address2']").val(),
            "firstName" : $(":input[name='addresses.shippingAddress.firstName']").val(),
            "middleName" : $(":input[name='addresses.shippingAddress.middleName']").val(),
            "lastName" : $(":input[name='addresses.shippingAddress.lastName']").val(),
            "phone" : $(":input[name='addresses.shippingAddress.phone']").val(),
            "shippingemail" : $(":input[name='addresses.shippingAddress.email']").val(),
            "shipping" : "shippingindetail"};       
      }
    }
    /** 
    * calculate the shipping and tax cost according to the new shipping address.
    * @param showError - indicates to show error messages or not
    */
    function calcShippingAndTax(showError){
      jQuery.ajax({
        type : 'POST',
            url: 'calcshipcost.ajx',
            dataType: 'xml',
            data: getShippingAdd(),
            success: function(data){
              var error = $(data).find("haserror").text();
              if(error == 'true' && showError){
                var errorMsgs = '<p>';
                $(data).find("errormsg").each(function(){
                  errorMsgs += $(this).text()+"<br/>";
                });
                errorMsgs += '</p>';
                var height = 35 + $(data).find("errormsg").length * 20;
                $("#shippingadd-warnings").html(errorMsgs);
                $("#modal-shippingadd-warning").css("height",height + "px");
                $("#modal-shippingadd-warning").show();
              }else{
                $("#modal-shippingadd-warning").hide();
                var productTable = $("#productItems").get(0);
                var rowCount = 1;
                $(data).find("products").children().each(function(index,value){
                  if(productTable){
											
											var title = $(value).find("title").text();
											
											if(title.indexOf('<img') >= 0)
												title = '<div class="item-thumb">' + title + '</div>';
											
                      #if($checkoutViewDTO.allNoneShippableItems)
												productTable.rows[rowCount].cells[0].innerHTML = title;
												productTable.rows[rowCount].cells[1].innerHTML = $(value).find("quantity").text();
												productTable.rows[rowCount].cells[2].innerHTML = $(value).find("itemprice").text();
											#else  
												 productTable.rows[rowCount].cells[0].innerHTML = title;
												 productTable.rows[rowCount].cells[1].innerHTML = $(value).find("shippingaddress").text();
												 productTable.rows[rowCount].cells[2].innerHTML = getHtmlShippingMethod($(value).find("shippingmethod").text(),index);
												 productTable.rows[rowCount].cells[3].innerHTML = $(value).find("quantity").text();
												 productTable.rows[rowCount].cells[4].innerHTML = $(value).find("itemprice").text();
												 rowCount++;
											#end
                  }
                });
                $("#checkout_shipping_id").html($(data).find("totalshippingrate").text());
                $("#checkout_tax_id").html($(data).find("totaltax").text());
                $("#checkout_total_bill_id").html($(data).find("totalbill").text());
                $(":input[type='hidden'][id='regioncode']").val($(data).find("provincecode").text());
                $(":input[type='hidden'][id='countrycode']").val($(data).find("countrycode").text());
                                                             #if(!$checkoutViewDTO.hidePaymentMethod)
                                                                var total=  $(data).find("totalcost").text();
                                                                  var grandtotal=total.substring(1,total.length); 
                                                                  if(grandtotal>0)
                                                                       document.getElementById("paymentGateway").style.display="";
                                                                 else
                                                                       document.getElementById("paymentGateway").style.display="none";
                                                             #end
                                                                 
              }
              
            }
        
      });
    }

	function getHtmlShippingMethod(methods,index){
		if(!methods || methods==""){return "";}
		var arr_method=methods.split(",");
		if(arr_method.length==1){
			return methods
		}else{
			var shipTypeName="SHIPTYP_"+index;
			var html="<select id=\""+shipTypeName+"\" name=\""+shipTypeName+"\" onchange=\"document.registerForm.submit()\" style=\"width:200px;\">";
			for(var i=0;i<arr_method.length;i++){
                var arr=arr_method[i].split(":");
				html+="<option value="+i+" "+arr[1]+" >";
				html+=arr[0]+arr[2]+arr[3]+"</option>";;
			}
            html+="</select>";
		    return html;
		}	
	}

    /**
    *visual effect for validating shipping address and calculating shipping and tax cost
    */
    $(document).ready(function() {
            $('body').append('<div id="modal-preloader-yourinfo" class="contentBoxYourinfo" align="center"><img src="assets/commercelib/commerce/preloader.gif"/><div style="margin-top:10px;">   #springMessage('vm.checkout_customerinfo.validating')<br/>   #springMessage('vm.checkout_customerinfo.waitmsg')</div></div><div id="modal-avetti-yourinfo"></div>');
      $('body').append('<div id="modal-shippingadd-warning"><div id="shippingadd-warnings"></div><div align="center"><input type="button" onclick="javascript:document.getElementById(\'modal-shippingadd-warning\').style.display = \'none\'" value="#springMessage('button.CLOSE')"/></div></div>');
    }); 

    /** 
    * asynchronously validate yourinfo
    */
    function submitWithPCI(frmName,actFieldName,btn,todo){
       $('#modal-avetti-yourinfo').fadeTo(100,0.75);
       $('#modal-preloader-yourinfo').fadeTo('fast',1);
       jQuery.ajax({
              type: 'POST',
              url: 'yourinfo.ajx',
              dataType: 'json',
              data: $("form[name='frm']").serialize(),
              success: function(data){
                  if(data.error){
                        var errors = data.errorMessages;
                        var errorMsgs = '#springMessage("vm.checkout_customerinfo.error"):<ul>';
                        for(var i=0;i<errors.length;i++){
                          errorMsgs +="<li>"+errors[i]+"</li>";
                        }
                        errorMsgs +="</ul>"; 
                        $("#postErrors").html("").hide();
                        $("#yourinfoErrors").html(errorMsgs).show();
                        $('#modal-preloader-yourinfo').hide();
                        $('#modal-avetti-yourinfo').hide();
                        $("html").scrollTop(0);
                  }else{
                    $("#yourinfoErrors").hide();
                    $('#modal-preloader-yourinfo').hide();
                    $('#modal-avetti-yourinfo').hide();
                    $(":input[type='hidden'][id='oidr']").val(data.pcifullinfo);
                   doConfirm(frmName,actFieldName,btn,todo);
                 }
            } 
          });
    } 

    $(":input[name='addresses.billingAddress.postal']").blur(function(){
      calcShippingAndTax(false);
      filterPaymentGateways();
    });
    $(":input[name='addresses.shippingAddress.postal']").blur(function(){
      calcShippingAndTax(false);
    }); 
    $("#sameasbilling").click(function(){
      calcShippingAndTax(false);
      filterPaymentGateways();
    });
    $("#rdoThisAddr").click(function(){
      calcShippingAndTax(false);
      filterPaymentGateways();
    })
	
	function changeprovicne(provinceId){
	   document.getElementById("provinceid").value=provinceId.value;
	}
	function initCityId(city){
	 document.getElementById("city").value=city.value;
	}
	
#if($checkoutViewDTO.ccPreferencesDTO.paymentgateways && $checkoutViewDTO.ccPreferencesDTO.paymentgateways.size() == 1)
       $(document).ready(function(){
          $(":input[name ='selectedPaymentGatewayCode']").trigger('click');			
	        $(":input[name ='selectedPaymentGatewayCode']").hide();
       });
#end

function filterPaymentGateways(){
  var pcode = $(":input[name='addresses.billingAddress.postal']").val();
  #if($checkoutViewDTO.billingandshippinginonepage)
	  if($("#sameasbilling").attr("checked")==true && $("#rdoDiffAddr").attr("checked")==true && pcode!=''){
	#else
	  if($("#rdoThisAddr").attr("checked")==true && pcode!=''){
	#end  
        jQuery.getJSON('getpaymentgateways.ajx?vid=' + vendorIdentifier+'&pcode='+pcode,
          function(response) {            
             if(response['__Success']=='true'){
                 var result = response['__Result'];
                 $("div[id^='paymentgatewaysection_']").each(function(){
                      $(this).hide();
                   });
                 if(result!=null && result.length>0){
                   jQuery.each(result,function(){
                      $('div#paymentgatewaysection_'+this.code).show();
                   });
                 }
             }
         }
       );
      }
	}

$(function(){
	  filterPaymentGateways();
	})
	</script>

	</body>
</html>