<!-- start common_js.vm -->
<input type="hidden" value="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName" name="themePath" />
  <script type="text/javascript">
    var baselink = '$!baselink';
    var vid= '$!vendorSettingsDTO.vendorId';
  </script>
<link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/plugins/foundation/vendor/jquery.js" />

<link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/plugins/foundation/foundation.js" />


  <script type="text/javascript">
  if (document.location.href.indexOf('$baselink') == -1 ) {
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  }

  if (document.location.href.indexOf('$baselink') == -1 ) {
  var pageTracker = _gat._getTracker("UA-30381655-1");
  pageTracker._trackPageview();
  }
  </script>

<script type="text/javascript" type="text/javascript">
  function checkKey() {
    var keyword = document.getElementById('key');
    if (keyword.value.length==0)
      keyword.value = $vendorSettingsDTO.vendorId;
  }
</script>
<!-- End common_js.vm -->

#*
<script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/js/sidenav.js"></script>
<script type="text/javascript">
  $('.sub-categories').sidenav({vid: $vendorSettingsDTO.vendorId})
</script>
*#