<input type="hidden" value="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname" name="themePath" />

<!-- start common_js.vm -->
  <script type="text/javascript">
    var baselink = '$!baselink';
    var vid= '$!vendorSettingsDTO.vendorId';
  </script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/jquery/jquery.js"></script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/backbone/underscore.js"></script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/backbone/backbone.js"></script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/bootbox/bootbox.min.js"></script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/toastr/toastr.js "></script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/storejs/store.min.js "></script>
  ## The overrides javascript below overrides any default commerce shop behaviour and implements its own.  Its usually make of copy/paste segments of commerce_shop code with some tweaks
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/js/overrides.js"></script>
<!-- End common_js.vm -->

  <script type="text/javascript">
  if (document.location.href.indexOf('$baselink') == -1 ) {
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  }
  
  if (document.location.href.indexOf('$baselink') == -1 ) {
  var pageTracker = _gat._getTracker("UA-30381655-1"); 
  pageTracker._trackPageview();
  }
  </script>

  <script type="application/javascript">
  jQuery('.navbar-form').submit(function(evt){
    evt.preventDefault();
    window.location = 'asearch.html?vid=${vid}&keyword=' + encodeURIComponent(jQuery(this).find('input').val().trim()) + '&catalog=RV+%2F+MH+Catalog';
  });

  ## TODO: Verify if this code is being used
  jQuery("#nws-add").bind('click', function(){
    if(jQuery("#line_itemCode").val() == '' || jQuery("#line_qty").val() == ''){
      return false;
    }
    
    var params = 'mode=addItems&ic1='+ jQuery("#line_itemCode").val().replace(/\./g, "-") +'&qty1='+ jQuery('#line_qty').val() +'&vid='+ $vendorSettingsDTO.vendorId +'&noredirect';
    jQuery("#line_itemCode").val('')
    jQuery('#line_qty').val('')
    toastr.success('Processing Item to Cart...')

    jQuery.ajax({
      url: 'action.html',
      type: 'get',
      data: params,
      dataType : 'json',
      success: function(data){
        
        toastr.success('Item Added to Cart!') 
          
        jQuery.ajax({
          url: 'basket.ajx',
          data: 'vid='+$vendorSettingsDTO.vendorId,
          type: 'get',
          dataType: 'json',
          success: function(data){
            var items = data.Products.length;
            var total = 0;
            var str = '';                

            for(var i=0; i<items; i++){
              total += parseFloat(data.Products[i].totalPrice.replace(',',''));
            }
            
            jQuery('.mini-basket-qty').text(items)
            jQuery('.mini-basket-total').text('$'+total.toFixed(2));
                       
            if(document.location.href.indexOf('basket.html') >= 0){
              document.location.reload();
            }
          },
          error: function(){
            toastr.error('Failed Processing Item to Cart!')
          } 
        });

      }
    });
  });
  </script>

<script language="JavaScript" type="text/javascript">
  function checkKey() {
    var keyword = document.getElementById('key');
    if (keyword.value.length==0)
      keyword.value = $vendorSettingsDTO.vendorId;
  }
</script>

<script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/plugins/jquery/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/js/sidenav.js"></script>
<script type="text/javascript">
  $('.sub-categories').sidenav({vid: $vendorSettingsDTO.vendorId})
</script> 