<!--[if IE 7]>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<![endif]-->
<!--[if IE 8]>
<meta http-equiv="X-UA-Compatible" content="IE=8">
<![endif]-->
<!--[if IE 9]>
<meta http-equiv="X-UA-Compatible" content="IE=9">
<![endif]-->

<!-- start common_css.vm -->
## <link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/plugins/jquery-ui/jqueryui-ie.css " />
  ############################## Styles ####################################
## This asset must be manually copied to the store skin. 
#if($vendorSettingsDTO.themeId == $storeSkinId)
		<link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$storeSkinName/css/app.css" media="all" id="store"/>
#else
		<link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$masterSkinName/css/app.css" media="all" id="master" />
#end
    ############################# End Style ###################################
		<link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/plugins/foundation/vendor/custom.modernizr.js " />
    
<!-- End common_css.vm -->