
<!DOCTYPE html>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/global_vars.vm")
#if($request.isSecure())
  #if ($request.getServerPort() ==443)
    #set ($baselink = "https://$request.getServerName()$request.getContextPath()/")
  #else
    #set ($baselink = "https://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
  #end
#else
  #if ($request.getServerPort() ==80)
    #set ($baselink = "http://$request.getServerName()$request.getContextPath()/")
  #else
    #set ($baselink = "http://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
  #end
#end


#if (!$pageTileDictionaryDTO)
  #if ($_commandName)
    #springBind( "${_commandName}.pageTileDictionaryDTO" )
    #set ($pageTileDictionaryDTO = ${status.value})
  #end
#end

#if ($pageTileDictionaryDTO)
  #set ($vCatsCategoryDTO=$pageTileDictionaryDTO.getPageTile("vCatsCategoryDTO") )
#end


#set($categoryName= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'name'))
#set($categoryDescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'description'))


#if(($multiPageViews) && ($__virtualCategory))
  #set($itemMultiPageView = $multiPageViews.get($__virtualCategory.getPageTileName()))
#end

#if (!$direction) #set($direction = $regExp.getParamFromURL($itemMultiPageView.multiPageURL, 'direc'))  #end
#if (!$mpvp&&$itemMultiPageView&&$itemMultiPageView.currentPageIndex)
  #set($mpvp = $itemMultiPageView.currentPageIndex)
#else
  #set($mpvp = "")
#end


<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<base href="$baselink"/>
		<meta name="description" content="#if($metadescription!="") $metadescription #else   #end" />
		<title>$!pagetitle</title>
		#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")
	</head>
	<body id="customerService">
	<!-- customer_template.vm -->
    ############################ Mini Nav #################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/mini_nav.vm")
    ############################ Ends Mini Nav ############################ 
    
    ############################ Header ####################################
#if($vendorSettingsDTO.themeId == $storeSkinId)
    #parse("/$vendorSettingsDTO.vendorId/$storeSkinId/banner.vm")
#else
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/${storeclass}_banner.vm")
#end
    ############################ End Header ################################
    
    ############################ Search Bar ################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/search_bar.vm")
    ############################ End Search Bar ############################

		<div class="row">
			<div class="small-4 columns">
				#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/breadcrumbs.vm")
			</div> <!-- end s4 -->
			
			<div class="small-8 columns"> 
				#parse($category_topDTO.getItems().get(0).get('category_top'))
				<h2 class="categoryTitle">$categoryDescription</h2>

				<div class="row">
					<div class="small-12 columns">
						#if($category_ad_topDTO && $category_ad_topDTO.getItems().size()>0)
							#parse($category_ad_topDTO.getItems().get(0).get('category_ad_top'))
						#end
					</div> <!-- end s12 -->
				</div> <!-- end row -->
				
				<div class="row">
					<div class="small-6 columns">
						#parse($category_leftDTO.getItems().get(0).get('category_left'))
					</div> <!-- end s6 -->
					<div class="small-6 columns">
						#parse($category_rightDTO.getItems().get(0).get('category_right'))
					</div> <!-- end s6 -->
				</div> <!-- end row -->
				
				<div class="row">
					<div class="small-12 columns">
						#parse($category_centerDTO.getItems().get(0).get('category_center'))
						#parse("/$vendorSettingsDTO.vendorId/$storeSkinId/b2c_content_customerService.vm")
					</div> <!-- end s12 -->
				</div> <!-- end row -->
				
				<div class="row">
					<div class="small-12 columns">
						#parse($category_bottomDTO.getItems().get(0).get('category_bottom'))
					</div> <!-- end s12 -->
				</div> <!-- end row -->
				
				<div class="row">
					<div class="small-12 columns">
				
					</div> <!-- end s12 -->
				</div> <!-- end row -->
				

				
			</div> <!-- end s8 -->
		</div> <!-- end row -->

    ############################ Footer ###################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/footer.vm")
    ############################ Ends Footer ##############################

    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_js.vm")

	</body>
</html>