<!DOCTYPE html>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/global_vars.vm")
#if (!$pageTileDictionaryDTO)
  #if ($_commandName)
    #springBind( "${_commandName}.pageTileDictionaryDTO" )
    #set ($pageTileDictionaryDTO = ${status.value})
  #end
#end
#if ($pageTileDictionaryDTO)
  #set ($hotDealsDTO=$pageTileDictionaryDTO.getPageTile("hotDealsDTO") )
  #set ($childItemsHomeDTO=$pageTileDictionaryDTO.getPageTile("childItemsHomeDTO") )
  #set ($vCatsCategoryDTO=$pageTileDictionaryDTO.getPageTile("vCatsCategoryDTO") )
#end
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Forgot Password</title>
		<link rel="shortcut icon" href="/favicon.png">
#parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")
		<link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$storeSkinName/css/app.css" media="all"/>
	</head>

	<body id="forgot-pwd">
	<!-- forgot_password_login.vm -->
    ############################ Header ####################################
#if($vendorSettingsDTO.themeId == $storeSkinId)
    #parse("/$vendorSettingsDTO.vendorId/$storeSkinId/banner.vm")
#else
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/${storeclass}_banner.vm")
#end
    ############################ End Header ################################
    
    ############################ Search Bar ################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/search_bar.vm")
    ############################ End Search Bar ############################

		<div class="row">
				<div class="small-4 columns">
	#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/a_home_left.vm")
				</div>
				
				<div class="small-8 columns">
					
					<div class="row">
						<h2>#springMessage("vm.forgot_password_login.login")</h2>
					</div>

					<div class="row">
						<div  class="small-12 columns">
						<!--start pwd recovery-->
							<h3>#springMessage("vm.forgot_password_login.forgot")</h3>
							<p >#springMessage("vm.forgot_password_login.enteremail")</p>
							<form id="nws-form" name="frm" method="POST" action="forgot_password.html?vid=${vendorSettingsDTO.vendorId}">
#springBind("loginViewDTO.doSubmit")
								<input type=hidden id=hiddenlogin name="$status.expression"/>
								<input type=hidden name="mt" value="${loginViewDTO.memberType}"/>
#springBind( "loginViewDTO.*" )
#if($status.errors.errorCount&&$status.errors.errorCount>0)
								<div class="row-fluid">
									<div class="alert alert-error span12">
										<button type="button" class="close" data-dismiss="alert">×</button>
										<h4>#springMessage("vm.register.error")</h4>
										<br/>
										<ul>
										#foreach($error in $status.errorMessages)
											<li>$error</li>
										#end
										</ul>
									</div>
								</div>
#end

		#if($ehint && $ehint eq "SUCCESS")
								<b style="color:red;">#springMessage("vm.forgot_password_login.msg2")</b>
		#end
								<div class="control-group">
									<label class="control-label">#springMessage("vm.forgot_password_login.email"):</label>
									<div class="controls">
										<input value="" name="login" id="login" class="login_text" maxlength="50" tabindex="1" type="text"/>
										<input type="hidden" name="mode"/>
										<input type="hidden" value="$!authenticationSubmitURL" name="Log In"/>
										<input class="button small" type="submit" name="Submit" value="#springMessage("vm.forgot_password_login.sendemail")" onClick="JavaScript:document.frm.mode.value='sendEmail';document.frm.hiddenlogin.value='Send Email';"/>
									</div>
                      <!--<a href='https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/signin.html?vid=${vendorSettingsDTO.vendorId}&mt=1&redirecturl=${welcomeMatDTO.currentEncodePage}'>#springMessage("vm.forgot_password_login.back")</a>   -->
								</div>
							</form>
						</div><!-- end s12 -->

						<div class="small-12 columns panel">
						<!---start new user-->
							<h3>#springMessage("vm.forgot_password_login.createaccount")</h3>
							<p>#springMessage("vm.forgot_password_login.info")</p>
							<form id="nws-form">
								<div>
									<input class="button small" type="button" class="btnLogin" value="#springMessage("vm.forgot_password_login.createaccount")" onclick="window.location='register.html?vid=${vendorSettingsDTO.vendorId}#if(${loginViewDTO.memberType} == 1)&mt=${loginViewDTO.memberType}#else&mt=3#end#if($authenticationRedirectURL && $authenticationRedirectURL!='')&redirecturl=${authenticationRedirectURL}%26fr%3Dregister#end';"/>
								</div>
							</form>
						</div> <!--end s12 -->
					</div> <!-- end row -->
				</div> <!-- end s8 -->
		</div> <!-- end row -->
#parse("/$vendorSettingsDTO.vendorId/${masterSkinId}/footer.vm")
#parse("/$vendorSettingsDTO.vendorId/${masterSkinId}/common_js.vm")
	</body>
</html>