
<div class="row">	
	<div id="categories" class="small-12 columns">
		<h2>Product Categories</h2>
	</div>
</div> <!-- end row -->

<div class="row">
	<!-- begin rv -->
	<div class="small-12 large-6 columns">
		<h3> RV &amp; Camper</h3>

#set($rvcats = $Menu2DTO.items.size())
#set($rvcol1 = [])
#set($rvcol2 = [])
#set($y = 0)
#foreach($temp in $Menu2DTO.items)
	#set($category = $pageTile.getItemObject($Menu2DTO, $temp, "c"))
	#if($y >= $math.div($rvcats,2))
		#set($null = $rvcol2.add([$category.categoryid, $category.name]))
	#else
		#set($null = $rvcol1.add([$category.categoryid, $category.name]))
	#end
	#set($y = $y + 1)
#end  
			<div class="small-12 large-6 columns">
				<ul class="no-bullet">
  		#foreach($line in $rvcol1)
    	            <li><a href="${seourl.encodeURL("store.html?vid=$vendorSettingsDTO.vendorId&cid=${line.get(0)}")}"> ${line.get(1)}</a></li>
		#end
				</ul>
			</div>
			<div class="small-12 large-6 columns">
				<ul class="no-bullet">
	  	#foreach($line in $rvcol2)				
    	            <li><a href="${seourl.encodeURL("store.html?vid=$vendorSettingsDTO.vendorId&cid=${line.get(0)}")}"> ${line.get(1)}</a></li>
	  	#end
				</ul>
			</div>
		</div> <!-- end row2 -->
	<!-- end rv -->
	<!-- begin marine -->
	<div class="small-12 large-6 columns">
		<h3> Marine</h3>

#set($mrcats = $Menu4DTO.items.size())
#set($mrcol1 = [])
#set($mrcol2 = [])
#set($z = 0)
#foreach($temp in $Menu4DTO.items)
	#set($category = $pageTile.getItemObject($Menu3DTO, $temp, "c"))
	#if($z >= $math.div($mrcats,2))
		#set($null = $mrcol2.add([$category.categoryid, $category.name]))
	#else
		#set($null = $mrcol1.add([$category.categoryid, $category.name]))
	#end
	#set($z = $z + 1)
#end  			
			<div class="small-12 large-6 columns">
				<ul class="no-bullet">
  		#foreach($line2 in $mrcol1)
    	            <li><a href="$seourl.encodeURL("store.html?vid=$vendorSettingsDTO.vendorId&cid=${line2.get(0)}")}"> ${line2.get(1)}</a></li>
		#end
				</ul>
			</div>
			<div class="small-12 large-6 columns">
				<ul class="no-bullet">
  		#foreach($line2 in $mrcol2)
    	            <li><a href="$seourl.encodeURL("store.html?vid=$vendorSettingsDTO.vendorId&cid=${line2.get(0)}")}"> ${line2.get(1)}</a></li>
		#end
				</ul>
			</div>
		</div> <!-- end row2 -->
	<!-- end marine -->
</div> <!-- end row -->


<div class="row" id="featured-items"></div> <!-- end row -->