<!DOCTYPE html>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/global_vars.vm")
##if (!$pageTileDictionaryDTO)
  ##if ($_commandName)
    ##springBind( "${_commandName}.pageTileDictionaryDTO" )
    ##set ($pageTileDictionaryDTO = ${status.value})
  ##end
##end
#set($metadescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metadescription'))
#set($metakeywords= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metakeywords'))
#set($pagetitle= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'pagetitle'))
#set($isHome = true)
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="#if($metadescription!="") $metadescription #else   #end" />
    <meta name="keywords" content="#if($metakeywords!="")$metakeywords #else   #end" />
    <base href="$baselink"/>
  <title>$storeName - Parts and Accessories</title>
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")

<!--     <link rel="stylesheet" type="text/css" href="store/$vendorSettingsDTO.vendorId/assets/themes/$storeSkinName/css/app.css" media="all"/> -->

 #set($test = $vendorSettingsDTO.themeId)
  $test

  </head>
##set($test = $vendorSettingsDTO.themeId)
##  active theme = $test || 
##  master theme = $masterSkinId || 
##  store theme = $storeSkinId

  <body class="home">
    ############################ Header ####################################
#if($vendorSettingsDTO.themeId == $storeSkinId)
    #parse("/$vendorSettingsDTO.vendorId/$storeSkinId/banner.vm")
#else
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/${storeclass}_banner.vm")
#end
    ############################ End Header ################################
    
    ############################ Search Bar ################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/search_bar.vm")
    ############################ End Search Bar ############################

    <div id="wrapper" class="row-fluid">
      <div class="span4" id="left-col"> OMG !! can you beleive this?
    ############################ Left Column ##############################
    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/${storeclass}_home_left.vm")
    ############################ End Left Column ##########################
      </div>
      <div class="span8" id="right-col">
    ############################ Mini Nav #################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/mini_nav.vm")
    ############################ Ends Mini Nav ############################

    ############################ Page Content #############################
<!-- right here -->
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/home_content.vm")
    ############################ Edns Page Content ########################
      </div>
    </div>
    ############################ Footer ###################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/footer.vm")
    ############################ Ends Footer ##############################    
    
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_js.vm")

    ################## Featured Items Scripts #############################
#if($vendorSettingsDTO.themeId == $storeSkinId)
    #parse("/$vendorSettingsDTO.vendorId/$storeSkinId/featured-items.vm")
#else
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/featured-items.vm")
#end
    ################## Ends Featured Items Scripts ########################
  </body>
</html>