<!DOCTYPE html>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/global_vars.vm")
#if (!$pageTileDictionaryDTO)
  #if ($_commandName)
    #springBind( "${_commandName}.pageTileDictionaryDTO" )
    #set ($pageTileDictionaryDTO = ${status.value})
  #end
#end
#set($metadescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metadescription'))
#set($metakeywords= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metakeywords'))
#set($pagetitle= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'pagetitle'))
#set($isHome = true)
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="#if($metadescription!="") $metadescription #else   #end" />
    <meta name="keywords" content="#if($metakeywords!="")$metakeywords #else   #end" />
    <base href="$baselink"/>
    <title>$!pagetitle</title>
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")
  </head>
  <body class="home">
    ############################ Header ####################################
    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/${storeclass}_banner.vm")
    ############################ End Header ################################
    
    ############################ Search Bar ################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/search_bar.vm")
    ############################ End Search Bar ############################

    <div id="wrapper" class="row-fluid">
      <div class="span4" id="left-col">
    ############################ Left Column ##############################
    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/${storeclass}_home_left.vm")
    ############################ End Left Column ##########################
      </div>
      <div class="span8" id="right-col">
    ############################ Mini Nav #################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/mini_nav.vm")
    ############################ Ends Mini Nav ############################

    ############################ Page Content #############################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/home_content.vm")
    ############################ Edns Page Content ########################
      </div>
    </div>
    ############################ Footer ###################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/footer.vm")
    ############################ Ends Footer ##############################    
    
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_js.vm")

    ################## Featured Items Scripts #############################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/featured-items.vm")
    ################## Ends Featured Items Scripts ########################
  </body>
</html>