<div class="row">	
	<div id="categories"class="small-12 columns">
		<h2>Product Categories</h2>
	</div>
    <!-- Main Content -->
	<div class="row">
#set($totalMenus = $menuCategories.items.size())
#set($column1 = [])
#set($column2 = [])
#set($x = 0)
#foreach($temp in $menuCategories.items)
  #set($category = $pageTile.getItemObject($menuCategories, $temp, "c"))
  #if($x >= $math.div($totalMenus,2))
    #set($null = $column2.add([$category.categoryid, $category.name]))
  #else
    #set($null = $column1.add([$category.categoryid, $category.name]))
  #end                      
  #set($x = $x + 1)
#end            
		<div class="small-6 columns">
			<ul class="no-bullet">
#foreach($line in $column1)
				<li><a href="${seourl.encodeURL("store.html?vid=$vendorSettingsDTO.vendorId&cid=${line.get(0)}")}">${line.get(1)}</a></li>
#end
			</ul>
		</div>

		<div class="small-6 columns">
			<ul class="no-bullet">
#foreach($line in $column2)
				<li><a href="${seourl.encodeURL("store.html?vid=$vendorSettingsDTO.vendorId&cid=${line.get(0)}")}">${line.get(1)}</a></li>
  #end
			</ul>
		</div>
	</div> <!-- end row -->
 
</div> <!-- end row -->


<div class="row-fluid" id="featured-items"></div>