#if($miniBasketDTO.details.products.size() > 0)
  #set($basketItemsTotal = $miniBasketDTO.details.products.size())
#else
  #set($basketItemsTotal = 0)
#end
#set($totalPrice = $math.toDouble("0.00"))
#foreach($product in $miniBasketDTO.details.products)
  #set($totalPrice = $math.add($totalPrice,  $product.totalPrice))
#end
<div id="mini">		
	<div class="row">
		<div class="small-6 columns"> &nbsp;</div>
		<div class="small-6 columns">
			<ul class="inline-list">
				<li> <a href="myaccount.html?mode=vieworder" alt="Account Access"> My Account</a></li>
				<li> <a href="$seourl.encodeURL("basket.html?vid=$vendorSettingsDTO.vendorId")" alt=""> Shopping Cart ($!basketItemsTotal): $number.format('currency', $totalPrice).replace('¤','$')</a></li>
				<li> <a href="yourinfo.html?vid=$vid" alt="Place order"> Checkout</a></li>
				#if(${welcomematDTO.loggedIn})
				<li> <a href="signout.html?vid=$vid" alt="Sign Out"> Log Out</a></li>
				#end
			</ul>
		</div>
	</div> <!-- end row -->
</div> <!-- end mini -->

#*

          <div class="row-fluid" id="mini-nav">
            <div class="container-fluid">
              <!-- Top menus -->
              <div class="row-fluid">
                <div class="span3 text-right #if(!${welcomeMatDTO.loggedIn}) offset3 #end">
                  <a href="myaccount.html?mode=vieworder">My Account</a>
                </div>
                <div class="span3 text-right">
                  <div class="mini-basket">
                    <a class="mini-basket-total" href="$seourl.encodeURL("basket.html?vid=$vendorSettingsDTO.vendorId")"> Cart ($!basketItemsTotal): $number.format('currency', $totalPrice).replace('¤','$')</a>
                  </div>
                </div>
                <div class="span3 text-right">
                  <a href="yourinfo.html?vid=$vid">Checkout</a>
                </div>
                #if(${welcomeMatDTO.loggedIn})
                <div class="span3 text-right">
                  <a href="signout.html?vid="$vid>Logout</a>
                </div>
                #end
              </div>
              <!-- End Top Menus -->  
            </div>
          </div>
*#        

