<!DOCTYPE html>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/global_vars.vm")
#if($request.isSecure())
  #if ($request.getServerPort() ==443)
    #set ($baselink = "https://$request.getServerName()$request.getContextPath()/")
  #else
    #set ($baselink = "https://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
  #end
#else
  #if ($request.getServerPort() ==80)
    #set ($baselink = "http://$request.getServerName()$request.getContextPath()/")
  #else
    #set ($baselink = "http://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
  #end
#end

#if(!${welcomeMatDTO.loggedIn})
  <script type="text/javascript">
  <!--
  window.location = "$baselink/signin.html?vid=20120606532&mt=1"
  //-->
  </script>
#end

#if (!$pageTileDictionaryDTO)
  #if ($_commandName)
    #springBind( "${_commandName}.pageTileDictionaryDTO" )
    #set ($pageTileDictionaryDTO = ${status.value})
  #end
#end

#if ($pageTileDictionaryDTO)
  #set ($vCatsCategoryDTO=$pageTileDictionaryDTO.getPageTile("vCatsCategoryDTO") )
#end


#if(($multiPageViews) && ($__virtualCategory))
  #set($itemMultiPageView = $multiPageViews.get($__virtualCategory.getPageTileName()))
#end

#if (!$direction) #set($direction = $regExp.getParamFromURL($itemMultiPageView.multiPageURL, 'direc'))  #end
#if (!$mpvp&&$itemMultiPageView&&$itemMultiPageView.currentPageIndex)
  #set($mpvp = $itemMultiPageView.currentPageIndex)
#else
  #set($mpvp = "")
#end

#set($catid = $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'categoryid'))
#set($metadescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metadescription'))
#set($metakeywords= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'metakeywords'))
#set($pagetitle= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'pagetitle'))
#set($categoryImage= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'image'))
#set($categoryThumb= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'thumbimage'))
#set($categoryName= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'shortname'))
#set($category= $pageTile.getItemObject($childCategoriesDTO, $childCategoriesDTO.getItems(), "c"))
#set($categoryDescription= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'description'))
#if($CookiesDTO && $CookiesDTO.getCookieValue('preferences'))
  #if($CookiesDTO.getCookieValue('preferences')=="grid")
    #set($itemViewClass= "grid")
  #else
    #set($itemViewClass= "list")
  #end
#else
  #set($itemViewClass= "grid")
#end

#*********************************************
* The following block of code is used together with the
* redirect to item option in category properties
* this should automatically redirect the category to
* the single item in that category.
*********************************************#

#set($category1= $pageTile.getItemObject($categoryNameDTOHQL, $categoryNameDTOHQL.items.get(0), 'c'))
#set($childItemsViewDTO = $multiPageViews.get("childItemsDTO"))
#if($category1.autoview==1 && $childItemsViewDTO.itemsCount==1)
  #foreach($itemIter in $childItemsDTO.getItems())
    #set($childItem = $pageTile.getItemObject($childItemsDTO, $itemIter, "i"))
  #end
  $response.sendRedirect($seourl.encodeURL("store.html?cid=$catid&vid=$vendorSettingsDTO.vendorId&iid=$childItem.itemid"))
#end

#if(${categoryDescription} == "Account Management")
  $response.sendRedirect($seourl.encodeURL("saved-orders?mn=am"))
#elseif(${categoryDescription} == "Account Resources")
  $response.sendRedirect($seourl.encodeURL("store-policies"))
#end
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <base href="$baselink"/>
    <meta name="description" content="#if($metadescription!="") $metadescription #else   #end" />
    #if(false)
      <meta name="keywords" content="#if($metakeywords!="")$metakeywords #else   #end" />
    #end
  <title>$!pagetitle</title>
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_css.vm")
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/jquery.min.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/customer_form_data_input_jquery.js"></script>
  </head>
  <body class="myaccount">
    ############################ Header ####################################
    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/a_banner.vm")
    ############################ End Header ################################

    ############################ Search Bar ################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/search_bar.vm")
    ############################ End Search Bar ############################

    <div id="wrapper" class="row-fluid">
      <div class="span2">
        <div class="accountbar filter">
          #if(${categoryDescription} == "Account Management" || ${categoryDescription} == "Saved Orders")
            <h5 class="title">Account Management</h5>
            <ul class="unstyled">
              <li><a href="saved-orders?mn=am">Saved Orders</a></li>
              <li><a href="nwrevieworders.html?mn=am">Review Orders</a></li>
              <li><a href="accountsummary.html?mn=am">Account Summary</a></li>
              <li><a href="openinvoices.html?mn=am">Open Invoices</a></li>
              <li><a href="paidinvoices.html?mn=am">Paid Invoices</a></li>
              <li><a href="myaccount.html?mode=changepassword&vid=$vendorSettingsDTO.vendorId&mn=am">Change Password</a></li>
            </ul>
          #else
            <h5 class="title">Account Resources</h5>
            <ul class="unstyled">
              <li><a href="store-policies">NWS Policies</a></li>
              <li><a href="account-resources/dealer-downloads">Dealer Download</a></li>
              <li><a href="price-list-request">Price List Request</a></li>
              <li><a href="eblast-subscriptions/">Email Suscription</a></li>
              <li><a href="myaccount.html?mode=viewproperties&vid=$vendorSettingsDTO.vendorId">Account Preferences</a></li>
            </ul>
          #end
        </div>
      </div>
      <div class="span10">
        <h1>${categoryDescription}</h1>
        #if(${categoryDescription} == "Saved Orders")
          #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/saved_orders.vm")
        #end
        #parse($home_topDTO.getItems().get(0).get('home_top'))
        #parse($home_centerDTO.getItems().get(0).get('home_center'))
      </div>
    </div>

    ############################ Footer ###################################
    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/footer.vm")
    ############################ Ends Footer ##############################

    #parse("/$vendorSettingsDTO.vendorId/$masterSkinId/common_js.vm")

    #if(${categoryDescription} == "Saved Orders")
      <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/saved_orders_basket.js "></script>
      <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/saved_orders_wishlist.js "></script>
    #end
  </body>
</html>