<!--payment gateway section-->
                    <div id="paymentGateway">
                      <h2>#springMessage("vm.register.msg4")</h2>
  #springBind("registerViewDTO.radioButtonId")
                      <input type="hidden" name="$status.expression" value="$!status.value" id="hidden_radioid"/>
  #springBind("registerViewDTO.inputFieldId")
                      <input type="hidden" name="$status.expression" value="$!status.value" id="hidden_inputid"/>
  #springBind("registerViewDTO.selectedPaymentGatewayId")
                      <input type="hidden" name="$status.expression" value="$status.value" id="hidden_pgid"/>

  #foreach($paymentgateway in ${registerViewDTO.ccPreferencesDTO.paymentgateways})
                      <div class="control-group">

   #### #if($paymentgateway.displayname.toLowerCase().indexOf("retail - ") >= 0)
   ####   #set($displayname = $paymentgateway.displayname.substring($math.add($paymentgateway.displayname.indexOf("-"), 2), $paymentgateway.displayname.length()))
   #set($displayname = $paymentgateway.displayname)
      #if($paymentgateway.logo && $paymentgateway.logo!="")
                        <div class="controls">
                          <label class="radio" for="radio_$velocityCount">
                            <input type="radio" name="selectedPaymentGatewayCode" id="radio_$velocityCount" onClick="showhide('$paymentgateway.paymentgatewayid',this.value,this.id,'input_$velocityCount');" value="$paymentgateway.code" #if($registerViewDTO.selectedPaymentGatewayCode && $paymentgateway.code==$registerViewDTO.selectedPaymentGatewayCode) checked="checked" #end />
                            <img src="$paymentgateway.logo" alt="$displayname"/>
                          </label>
                        </div>
      #else
                        <div class="controls">
        #if($paymentgateway.inputtype && $paymentgateway.inputtype==1 && $paymentgateway.code != "PCI2CC")
          #springBind("registerViewDTO.customerInput")
                          <label class="radio" for="radio_$velocityCount">
                            <input type="radio" name="selectedPaymentGatewayCode" id="radio_$velocityCount" onClick="showhide('$paymentgateway.paymentgatewayid',this.value,this.id,'input_$velocityCount');" value="$paymentgateway.code" #if($registerViewDTO.selectedPaymentGatewayCode && $paymentgateway.code==$registerViewDTO.selectedPaymentGatewayCode) checked #end>
                            $displayname
                          </label>
                          <span  id="radio_text_input_$velocityCount" style="display:none">$paymentgateway.prompttext</span>
						  <input type="text" name="$status.expression" id="input_$velocityCount" value="$!status.value" style="display:none" disabled>

        #else
                          <label class="radio" for="radio_$velocityCount">
                            <input type="radio" name="selectedPaymentGatewayCode" id="radio_$velocityCount" onClick="showhide('$paymentgateway.paymentgatewayid',this.value,this.id,'input_$velocityCount');" value="$paymentgateway.code" #if($registerViewDTO.selectedPaymentGatewayCode && $paymentgateway.code==$registerViewDTO.selectedPaymentGatewayCode) checked #end>
                            $displayname
                          </label>
        #end
                        </div>

      #end
   #### #end

###############################################################
    #if($paymentgateway.code == "PCI2CC" || $paymentgateway.code == "PCINONE")
        <!-- PCI Secure Form -->
                        <div id="cc">
                          <div class="form-horizontal">
                            <h4 class="heading2">#springMessage("vm.checkout_payment.creditcardinfo")</h4>
                            <div class="control-group">
                              <div class="form-inline">
                                <label class="control-label" for="reviewAndPay-cardType-visa">
                                  <input id="reviewAndPay-cardType-visa" name="reviewAndPay-cardType" type="radio" class="radio" value="visa" />
                                  <img src="store/$vendorSettingsDTO.vendorId/assets/themes/theme2_en/images/icons/visa.gif" alt="Visa" />
                                </label>
                                <label class="control-label" for="reviewAndPay-cardType-masterCard">
                                  <input id="reviewAndPay-cardType-masterCard" name="reviewAndPay-cardType" type="radio" class="radio" value="masterCard" />
                                  <img src="store/$vendorSettingsDTO.vendorId/assets/themes/theme2_en/images/icons/master_card.gif" alt="Master Card" />
                                </label>
                                <label class="control-label" for="reviewAndPay-cardType-discover">
                                  <input id="reviewAndPay-cardType-discover" name="reviewAndPay-cardType" type="radio" class="radio" value="discover" />
                                  <img src="store/$vendorSettingsDTO.vendorId/assets/themes/theme2_en/images/icons/discover.gif" alt="Discover" />
                                </label>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="reviewAndPay-cardNumber">*#springMessage("vm.checkout_payment.cardnumber")</label>
                              <div class="controls">
                                <input id="reviewAndPay-cardNumber" name="reviewAndPay-cardNumber" type="text" class="text" />
                              </div>
                            </div>
      #if($paymentgateway.code == "PCI2CC")
                            <div class="control-group">
                              <label class="control-label" for="reviewAndPay-level2Code">*#springMessage('vm.register.securitycode')</label>
                              <div class="controls">
                                <input id="reviewAndPay-level2Code" name="creditCard.level2Code" type="text" class="text" />
                              </div>
                            </div>
      #else
                            <input type="hidden" name="creditCard.level2Code" id="cvv" value="1234"  autocomplete="off"/>
      #end
                            <input type="hidden" id="currencyCode" value="$paymentgateway.option9">
                            <input type="hidden" id="authamt" value="$!registerViewDTO.authamt"/>
                            <input type="hidden" id="saleamt" value="$!registerViewDTO.saleamt"/>
                            <input type="hidden" id="zip" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').postal">
                            <input type="hidden" id="regioncode" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').provinceCode">
                            <input type="hidden" id="countrycode" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').countryCode">
                            <input type="hidden" id="city" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').city">
                            <input type="hidden" id="street" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').address1">
                            <input type="hidden" id="firstName" value="$!registerViewDTO.customerDTO.firstName">
                            <input type="hidden" id="middleName" value="$!registerViewDTO.customerDTO.middleName">
                            <input type="hidden" id="lastName" value="$!registerViewDTO.customerDTO.lastName">
                            <input type="hidden" id="address1" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').address1">
                            <input type="hidden" id="address2" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').address2">
                            <input type="hidden" id="phone" value="$!registerViewDTO.customerDTO.customerAddresses.get('1').phone">
                            <input type="hidden" id="billingemail" value="$!registerViewDTO.customerDTO.loginname">
                            <input type="hidden" name="email" value="$!registerViewDTO.customerDTO.loginname"/>

                            <div class="control-group">
                              <label class="control-label" for="reviewAndPay-expMonth">*#springMessage("vm.checkout_payment.expirationdate")</label>
                              <div class="controls">
                                <select class="month" id="reviewAndPay-expMonth" name="reviewAndPay-expMonth">
                                  <option value="0">-Month-</option>
                                  <option value="1">January</option>
                                  <option value="2">February</option>
                                  <option value="3">March</option>
                                  <option value="4">April</option>
                                  <option value="5">May</option>
                                  <option value="6">June</option>
                                  <option value="7">July</option>
                                  <option value="8">August</option>
                                  <option value="9">September</option>
                                  <option value="10">October</option>
                                  <option value="11">November</option>
                                  <option value="12">December</option>
                                </select>
                                <select class="year" id="reviewAndPay-expYear" name="reviewAndPay-expYear">
                                  <option value="0">-Year-</option>
                                  <option value="2011">2011</option>
                                  <option value="2012">2012</option>
                                  <option value="2013">2013</option>
                                  <option value="2014">2014</option>
                                  <option value="2015">2015</option>
                                  <option value="2016">2016</option>
                                  <option value="2017">2017</option>
                                  <option value="2018">2018</option>
                                </select>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="creditCard.ccHolderName">* #springMessage('vm.register.nameoncard')</label>
                              <div class="controls">
      #if($registerViewDTO.customerDTO.firstName && $registerViewDTO.customerDTO.firstName!="" && $registerViewDTO.customerDTO.lastName && $registerViewDTO.customerDTO.lastName!="")
                                <input type="text" name="creditCard.ccHolderName" id="creditCard.ccHolderName" value="$!registerViewDTO.customerDTO.firstName $!registerViewDTO.customerDTO.lastName" />
      #else
                                <input type="text" name="creditCard.ccHolderName" id="creditCard.ccHolderName" value="" />
      #end
                              </div>
                            </div><!-- /end .control-group -->
                          </div><!-- /end form-horizontal -->
                        </div><!-- /end .cc -->

                        <div class="secure" id="ccsubmitted">
                          <div class="form-horizontal">
                            <h3>#springMessage("vm.checkout_payment.creditcardinfo")</h3>
                            <div class="control-group">
                              <label class="control-label">*#springMessage("vm.checkout_payment.creditcard")</label>
                              <div class="controls">
                                <span class="visa">#springMessage("vm.profile_membership.visa")</span>
                              </div>
                            </div>
                            <div class="control-group">
                              <input type="hidden" name="transactionid" id="transactionid" value=""/>
                              <input type="hidden" id="pciorderid" value="0" />
                              <input type="hidden" name="creditCard.ccNumber" id="CARDNO" value=""  autocomplete="off"/>
                              <input type="hidden" id="creditCard.ccType" name="creditCard.ccType" value="3" />
                              <input type="hidden" id="creditCard.expMonth" name="creditCard.expMonth" value="1"/>
                              <input type="hidden"  name="creditCard.expYear" value="2010" />
                              <label for="reviewAndPay-cardNumber">*#springMessage("vm.checkout_payment.cardnumber")</label>
                              <div class="controls">
                                <span>XXXX-XXXX-XXXX-</span><span id="last4cc"></span><a onclick="javascript:$('#ccsubmitted').css('display','none');$('#cc').css('display','block');" class="editCC">#springMessage("vm.checkout_payment.editcreditcard")</a>
                              </div>
                            </div><!-- /end .control-group -->
                            <div class="control-group">
                              <label for="reviewAndPay-expMonth">*#springMessage("vm.checkout_payment.expirationdate")</label>
                              <div class="controls">
                                <span id="expDate"></span>
                              </div>
                            </div><!-- /end .control-group -->
                          </div><!-- /end .sleeve -->
                        </div><!-- End secure with prepop CC# and Exp Date-->
    #elseif($paymentgateway.code.indexOf("NCC") == -1 && !$pgcodenocc.contains($paymentgateway.code)  && $paymentgateway.code != "ACH")
                        <!-- Credit Card Form -->
                        <div id="payment_method" style="display:none" >
                          <div class="row-fluid">
                            <div class="span4 control-group">
                              <label class="control-label" for="CARDNO" >#springMessage("vm.register.creditcard")</label>
                              <div class="controls" >
        #springBind ("registerViewDTO.creditCard.ccNumber")
        #if($registerViewDTO.creditCard.startYear == 1)
                                <input type="text" name="$status.expression" id="CARDNO" value="$registerViewDTO.creditCard.ccSecureNumber"  autocomplete="off"/>
        #else
                                <input type="text" name="$status.expression" id="CARDNO" value="$status.value"  autocomplete="off"/>
        #end
                                <div class="info_needed">#springMessage("vm.register.msg5")</div>
                              </div>
                            </div>
                            <div class="span6 control-group">
                              <script language="javascript" type="text/javascript">
                                function checkKey() {
                                  var keyword = document.getElementById('keyword');
                                  var key = document.getElementById('key');

                                  keyword.value = key.value;
                                  if (keyword.value.length==0)
                                    keyword.value = $vendorSettingsDTO.vendorId;
                                  }
                              </script>
                              <label for="cvv">#springMessage('vm.register.securitycode')</label>
                              <div class="controls" >
        #springBind ("registerViewDTO.creditCard.level2Code")
        #if($registerViewDTO.creditCard.startYear == 1)
                                <input class="input-mini" type="text" name="$status.expression" id="cvv" value="***"  autocomplete="off"/>
        #else
                                <input class="input-mini" type="text" name="$status.expression" id="cvv" value="$status.value" maxlength="4" autocomplete="off"/>
        #end
                                <span class="info_needed whatsthis" id="securityCode_help">#springMessage('vm.register.msg6')</span>
                              </div>
                            </div>
                          </div>

                          <div class="row-fluid">
                            <div class="span4 control-group">
        #springBind ("registerViewDTO.creditCard.ccType")
                              <label class="control-label" for="$status.expression">#springMessage('vm.register.cctype')</label>
                              <div class="controls" >
                                <select name="$status.expression" id="$status.expression">
                                  <option value="0" selected>#springMessage('vm.register.selectcard')</option>
        #set ($cardtypekeys = $registerViewDTO.creditCard.ccTypes.keySet())
        #foreach ($cardtypekey in $cardtypekeys)
          #if ( $cardtypekey == 3 || $cardtypekey == 5 || $cardtypekey==6 || $cardtypekey==7)
            #if ($cardtypekey == $status.value&& $status.value)
                                  <option value="$cardtypekey" selected>$registerViewDTO.creditCard.ccTypes.get($cardtypekey)</option>
            #else
                                  <option value="$cardtypekey">$registerViewDTO.creditCard.ccTypes.get($cardtypekey)</option>
            #end
          #end
        #end
                                </select>
                              </div>
                            </div>
                            <div class="span8 control-group">
        #springBind ("registerViewDTO.creditCard.expMonth")
                              <label class="control-label" for="$status.expression">#springMessage('vm.register.expirydate')</label>
                              <div class="controls">
        #set ( $months = [1,2,3,4,5,6,7,8,9,10,11,12])
                                <select class="input-mini" id="$status.expression" name="$status.expression">
        #foreach( $month in $months)
                                  <option value="$month" #if($status.value && $status.value == $month) selected #end> $month </option>
        #end
                                </select>
        #springBind ("registerViewDTO.creditCard.expYear")
                                <select class="input-small" name="$status.expression">
        #foreach( $step in [0..10] )
                                  <option value="$math.add($date.getYear(),$step)" #if( $status.value && $status.value == $math.add($date.getYear(),$step)) selected #end> $math.add($date.getYear(),$step) </option>
        #end
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="control-group">
                            <label class="control-label" for="nameoncard" class="controls">#springMessage('vm.register.nameoncard')</label>
                            <div class ="controls">
      #springBind ("registerViewDTO.creditCard.ccHolderName")
                              <input type="text" name="$status.expression" id="nameoncard" value="$status.value" maxlength="50" size="20" />
                            </div>
                          </div>
                        </div>
<!-- end of payment_method -->
<!--start ach  -->
    #elseif($paymentgateway.code == "ACH" )
                        <div id="payment_method_ach" style="display:none" >
      #springBind ("registerViewDTO.echecknet.bank_Name")
                          <div class="control-group">
                            <label class="control-label" for="bakname" >#springMessage("vm.register.bankname")</label>
                            <div class="controls" >
                              <input type="text" name="$status.expression" id="bankname" value="$status.value" />
                            </div>
                          </div>
      #springBind ("registerViewDTO.echecknet.account_Name")
                          <div class="control-group">
                            <label class="control-label" for="bakaccount" >#springMessage("vm.register.bankaccount")</label>
                            <div class="controls" >
                              <input type="text" name="$status.expression" id="account_name" value="$status.value" />
                            </div>
                          </div>
      #springBind ("registerViewDTO.echecknet.bank_Account_Type")
                          <div class="control-group">
                            <label class="control-label" for="bankacctype" >#springMessage("vm.register.bankacctype")</label>
                            <div class="controls" >
                            <select name="$status.expression" id="bank_acctype" value="$status.value">
                              <option value="CHECKING">Checking</option>
                              <option value="BUSINESSCHECKING">Business Checking</option>
                              <option value="SAVINGS">Savings</option>
                            </select>
                            </div>
                          </div>
      #springBind ("registerViewDTO.echecknet.bank_Account_Num")
                          <div class="control-group">
                            <label class="control-label" for="bankaccnum" >#springMessage("vm.register.bankaccnum")</label>
                            <div class="controls" >
                              <input type="text" name="$status.expression" id="bank_account_num" value="$status.value" />
                            </div>
                          </div>
      #springBind ("registerViewDTO.echecknet.aba_Routing_Code")
                          <div class="control-group">
                            <label class="control-label" for="bankabacode" >#springMessage("vm.register.bankabacode")</label>
                            <div class="controls" >
                              <input type="text" name="$status.expression" id="aba_routing_code" value="$status.value" />
                            </div>
                          </div>
                        </div>
                        <!--end ach  -->
    #end
#################################################################
                      </div>
  #end
                    </div><!-- -end of paymentGateway-->
