<div class="row">
	<div class="small-12">
		<h3>Your Billing Information</h3>
		<div class="required"><span class="needed_star">*</span> required information</div>
	</div> <!-- end s12 -->
</div> <!-- end row -->

<div class="row">
	<div class="small-6 columns">
		 <fieldset>
			<legend> Your Information</legend>
				#springBind("registerViewDTO.customerDTO.firstName")
					<div class="control-group">
						<label class="control-label" for="customerDTO.firstName"> #springMessage("vm.register.firstname")<span class="needed_star">*</span></label>
						<input size="30" maxlength="20" value="${status.value}" name="customerDTO.firstName" id="customerDTO.firstName" type="text" onBlur="initCap(this)" onSubmit="initCap(this)"/>
					</div>
				#springBind("registerViewDTO.customerDTO.middleName")
					<div class="control-group">
						<label class="control-label" for="customerDTO.middleName"> #springMessage("vm.register.midname")</label>
						<input id="customerDTO.middleName" name="customerDTO.middleName" value="${status.value}" type="text" size="3" />
					</div>
				#springBind("registerViewDTO.customerDTO.lastName")
					<div class="control-group">
						<label class="control-label" for="customerDTO.lastName"> #springMessage("vm.register.lastname")<span class="needed_star">*</span></label>
						<input size="30" maxlength="30" value="${status.value}" id="customerDTO.lastName" name="customerDTO.lastName" type="text" onBlur="initCap(this)" onSubmit="initCap(this)"/>
					</div>
					
				#springBind("registerViewDTO.customerDTO.customerAddresses['1'].phone")
					<div class="control-group">
						<label class="control-label" for="customerDTO.customerAddresses['1'].phone"> #springMessage("vm.register.phone")<span class="needed_star">*</span></label>
						<input id="cname" value="${status.value}" id="customerDTO.customerAddresses['1'].phone" size="30" name="customerDTO.customerAddresses['1'].phone" size="30" maxlength="18" type="text">
					</div>
					
					
		</fieldset>
############
#if($registerViewDTO.use_register_realloginname)
				#springBind("registerViewDTO.register_realloginname")
					<h4> What is your preferend loign Name or ID</h4>
					<div class="control-group">
						<label for="register_realloginname">#springMessage("word.loginname")</label>
						<input size="30" maxlength="50" value="${status.value}" id="register_realloginname" name="register_realloginname" type="text"/></div>
					</div>
#end
#############
	</div> <!-- end s6 -->

	<div class="small-6 columns">
		 <fieldset>
			<legend> Account Information</legend>
				#springBind("registerViewDTO.customerDTO.loginname")
					<div>
						<label for="customerDTO.loginname"> #springMessage("word.email")</label>
						<input class="required email" size="30" maxlength="50" value="${status.value}" id="customerDTO.loginname" name="customerDTO.loginname" type="text"/> <!-- auto fill issue -->
					</div>
				#springBind("registerViewDTO.confirmLogin")
					<div>
						<label for="confirmLogin">#springMessage("vm.register.confirmemail")</label>
						<input class="required email" size="30" maxlength="50" value="${status.value}" id="confirmLogin" name="confirmLogin" type="text"/>
					</div>
				#springBind("registerViewDTO.customerDTO.loginpassword")
					<div>
						<label for="customerDTO.loginpassword">#springMessage("word.password")</label>
						<input class="required" value="${status.value}" size="30" maxlength="20" id="customerDTO.loginpassword" name="customerDTO.loginpassword" type="password" /> <!-- auto fill issue -->
						<div class="info_needed">#springMessage("vm.register.msg1")</div>
					</div>
				#springBind("registerViewDTO.confirmPassword")
					<div>
						<label for="confirmPassword">#springMessage("vm.register.confirmpassword")</label>
						<input class="required" value="${status.value}" size="30" maxlength="20" id="confirmPassword" name="confirmPassword" type="password">
					</div>
		</fieldset>
	</div> <!-- end s6 -->
</div> <!-- end row -->

<div class="row">
	<div class="small-12">
	</div> <!-- end s12 -->
</div> <!-- end row -->


                
######### START #if($registerViewDTO.memberType != '1') ##########
#if($registerViewDTO.memberType != '1')

		#### removed phone from here ####

		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].company")
                <div class="control-group">
                  <label class="control-label" for="customerDTO.customerAddresses['1'].company">#springMessage("vm.register.company")</label>
                  <div class="controls"><input id ="customerDTO.customerAddresses['1'].company" name="customerDTO.customerAddresses['1'].company" value="${status.value}" type="text" size="30"  onBlur="initCap(this)" onSubmit="initCap(this)"/></div>
                </div>
		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].address1")
                <div class="control-group">
                  <label class="control-label" for="${status.expression}">#springMessage("vm.register.address") 1<span class="needed_star">*</span></label>
                  <div class="controls" ><input  value="${status.value}" id="${status.expression}" name="${status.expression}" type="text" size="30" onblur="javascript:fieldBlurred(this,1);initCap(this)"  onSubmit="initCap(this)"/></div>
                </div>
		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].address2")
                <div class="control-group">
                  <label class="control-label" for="${status.expression}">#springMessage("vm.register.address")2</label>
                    <div class="controls"><input  value="${status.value}" id="${status.expression}" name="${status.expression}" type="text" size="30" onBlur="initCap(this)" onSubmit="initCap(this)"/></div>
                </div>
		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].city")
                <div class="control-group">
                  <label class="control-label" for="${status.expression}">#springMessage("vm.register.city")<span class="needed_star">*</span></label>
                  <div class="controls"><input  value="${status.value}" id="${status.expression}" name="${status.expression}" type="text" size="30" onblur="javascript:fieldBlurred(this,2);initCap(this);#if($registerViewDTO.onepagecheckout && !$registerViewDTO.islogin)#end"   onSubmit="initCap(this)"/></div>
                </div>
		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].countryId")
		#set($curcountry=$status.value)
	<!-- curcountry=$status.value -->
                <div class="control-group">
                  <label class="control-label" for="country_id">#springMessage("vm.register.country") <span class="needed_star">*</span></label>
                  <div class="controls">
                    <select size="1" id="country_id" name="customerDTO.customerAddresses['1'].countryId" onChange="changeRegion(this.value);isBillingAddressChanged=true;#if($productsDetails.products.size() != "" && $productsDetails.products.size() > 0)cleanPaymentMethod();#end" style="width:215px;">
                      <option value="0">#springMessage("vm.register.chosecountry")</option>
		#foreach($country in $registerViewDTO.countriesInUse)
			#if($curcountry == 0 && ${country.defcountry})
				#set($curcountry=$country.country.id)
			#end
                        <option value="$country.country.id"> #if($country.country.id==${status.value})selected#end $country.country.name</option>
		#end
                    </select>
                  </div>
                </div>
		
		#set($state="inline-block")
		#set($province="none")
		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].countryId")

		#foreach($country in $registerViewDTO.countriesInUse)
			#if($country.id && $country.id==${status.value})
				#if($country.a2 == "US")
					#set($state="inline-block")
					#set($province="none")
				#end
			#end
		#end
                <div class="control-group">
                  <label class="control-label" for="$status.expression" id="state" style="display:$state" >#springMessage("vm.register.state")<span class="needed_star">*</span></label>
                  <label class="control-label" for="$status.expression" id="province" style="display:$province" >#springMessage("vm.register.province")<span class="needed_star">*</span> </label>
                  <div class="controls">
		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].provinceId" )
		#if(${status.value}!=0)
                    <select size="1" name="$status.expression" id="region" onchange="isBillingAddressChanged=true;#if($productsDetails.products.size() > 0)cleanPaymentMethod();#end" style="width:215px;">
                      <option value="0">#springMessage("vm.register.choseprovince") </option>
			#foreach($country in $registerViewDTO.countriesInUse)
				#if(${curcountry} == ${country.country.id})
					#foreach($province in ${country.provinces})
						#if( ${province.province.id} == ${status.value})
                      <option value="${province.province.id}" selected>${province.province.name}</option>
						#else
                      <option value="${province.province.id}">${province.province.name}</option>
						#end
					#end
				#end
			#end
                    </select>

		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].anotherProvince")
	                   <input id="otherregionForBilling" size="30" maxlength="9" value="${status.value}" name="customerDTO.customerAddresses['1'].anotherProvince" type="text" onblur="fieldBlurred(this,4)" style="display: none">

		#else
                    <select size="1" name="$status.expression" id="region" onchange="isBillingAddressChanged=true;#if($productsDetails.products.size() > 0)cleanPaymentMethod();#end" style="display:none;width:215px;">
                      <option value="0">Choose State/Province</option>
			#foreach($country in $registerViewDTO.countriesInUse)
				#if(${curcountry} == ${country.country.id})
					#foreach($province in ${country.provinces})
						#if( ${province.province.id} == ${status.value})
                        <option value="${province.province.id}" selected>${province.province.name}</option>
						#else
                        <option value="${province.province.id}">${province.province.name}</option>
						#end
					#end
				#end
			#end
                    </select>

		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].anotherProvince")
                    <input id="otherregionForBilling" size="30" maxlength="9" value="${status.value}" name="customerDTO.customerAddresses['1'].anotherProvince" type="text" onblur="fieldBlurred(this,4)">
		#end
                  </div>
                </div>

		#springBind("registerViewDTO.customerDTO.customerAddresses['1'].postal")
                <div class="control-group">
                  <label class="control-label" for="customerDTO.customerAddresses['1'].postal">#springMessage("vm.register.postal")<span class="needed_star"> *</span></label>
                  <div class="controls"><input size="30" maxlength="10" value="${status.value}" id="customerDTO.customerAddresses['1'].postal" name="customerDTO.customerAddresses['1'].postal" type="text" onblur="fieldBlurred(this,3);#if($registerViewDTO.islogin) shippingAddressListenerAfterReg(${vendorSettingsDTO.vendorId},this.form,1,2);#else shippingAddressListener(${vendorSettingsDTO.vendorId},this.form,1,2,false);#end"/></div>
                </div>
#end
######### END #if($registerViewDTO.memberType != '1') ###########



######### START #if($registerViewDTO.memberType == '1') #########
#if($registerViewDTO.memberType == '1')
                <div class="control-group">
	#springBind("registerViewDTO.customerDTO.customerProperties['Subscribe to Newsletter']")
                  <div class="controls">
                    <label class="checkbox" for="$status.expression"><input type="checkbox" id="$status.expression" name="$status.expression" value="yes" #if("${status.value}"=="yes") checked #end > <b>#springMessage("vm.register.subscribe")</b></label>
                  </div>
                </div>
#end
######### END #if($registerViewDTO.memberType == '1') ##########



######### START #if($registerViewDTO.memberType != '1') #########
#if($registerViewDTO.memberType != '1')
                <div class="control-group">
                  <label class="control-label" for="${status.expression}">#springMessage("vm.register.question")<span class="needed_star">*</span></label>
	#springBind("registerViewDTO.securityQuestion")
                  <div class="controls">
                    <select size="1" id="${status.expression}" name="${status.expression}" style="width:215px;">
                      <option value="#springMessage("vm.register.securitymessage1")">#springMessage("vm.register.securitymessage1")</option>
                      <option value="#springMessage("vm.register.securitymessage2")">#springMessage("vm.register.securitymessage2")</option>
                      <option value="#springMessage("vm.register.securitymessage3")">#springMessage("vm.register.securitymessage3")</option>
                      <option value="#springMessage("vm.register.securitymessage4")">#springMessage("vm.register.securitymessage4")</option>
                    </select>
                  </div>
                </div>
	#springBind("registerViewDTO.securityAnswer")
                <div class="control-group">
                  <label class="control-label" for="securityAnswer">#springMessage("vm.register.answer")<span class="needed_star">*</span></label>
                  <div class="controls"><input size="30" maxlength="50" value="${status.value}" id="securityAnswer" name="securityAnswer" type="text"></div>
                </div>
<!-- end of input fields-->


                <div class="control-group newsletter">
	#springBind("registerViewDTO.customerDTO.customerProperties['Subscribe to Newsletter']")
                  <div class="controls">
                    <label class="checkbox" for="$status.expression"><input type="checkbox" id="$status.expression" name="$status.expression" value="yes" #if("${status.value}"=="yes") checked="checked" #end > <b>#springMessage("vm.register.subscribe")</b></label>
                  </div>
                </div>
	#if($productsDetails.products.size() > 0)
		#set($authenticationSubmitURL="store.html")
                <input type="hidden" name="customerDTO.allCustomerProperties['SHIP_WHERE']" value="0">
<!-- $registerViewDTO.allNoneShippableItems -->
		#if($registerViewDTO.allNoneShippableItems)
			#if($registerViewDTO.billingandshippinginonepage)
                <input id="rdoDiffAddr" style="display:none;" type="radio" name="customerDTO.customerProperties['SHIP_WHERE']" value="2" checked="checked" >
			#else
                <input id="rdoThisAddr" style="display:none;" type="radio" name="customerDTO.customerProperties['SHIP_WHERE']" value="1" checked="checked" >
			#end
		#else
                <div class="shipped-to">
                  <h3>#springMessage("vm.register.msg2"):</h3>
      		#springBind("registerViewDTO.customerDTO.customerProperties['SHIP_WHERE']")
                  <div class="control-group" #if($registerViewDTO.billingandshippinginonepage)  style="display:none;" #end>
                    <div class="controls">
                      <label class="radio" for="rdoThisAddr"><input id="rdoThisAddr" name="$status.expression" value="1" #if(${status.value}&&"${status.value}"=="1") checked="checked" #end type="radio" onclick="javascript:setregister('payment.html?vid=$vendorSettingsDTO.vendorId');showhidepayment_info(this.value);">#springMessage("vm.register.this")</label>  <!-- Send to payment if this is selected -->
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <label for="rdoDiffAddr" class="radio"><input id="rdoDiffAddr" name="$status.expression" value="2" #if(${status.value} &&"${status.value}"=="2") checked="checked" #end type="radio" onclick="javascript:setregister('pickaddress.html?vid=$vendorSettingsDTO.vendorId');showhidepayment_info(this.value);"> #springMessage("vm.register.another")</label> <!-- Send to single address pick if this is selected -->
                    </div>
                  </div>
			#set($itemindex= 0)

			#foreach( $product in $productsDetails.products)
				#set($itemindex= $itemindex+ $product.qty)
			#end

			#if($itemindex>1)
                  <div class="control-group">
                    <div class="controls">
                      <label for="rdoMultAddr" class="radio"><input id="rdoMultAddr" name="$status.expression" value="3" #if("${status.value}"=="3") checked="checked" #end type="radio" onclick="javascript:setregister('shipping.html?vid=$vendorSettingsDTO.vendorId');showhidepayment_info(this.value);"> #springMessage("vm.register.multiple")</label>
                    </div>
                  </div>
			#end
                </div>

			#foreach($recount  in $registerViewDTO.retailers)
				#set($retailcount=$recount)
			#end

			#if($retailcount)
                <div class="control-group">
                  <div class="controls">
                    <label for="rdoMultAddr" class="radio"><input id="rdoMultAddr" name="$status.expression" value="4" type="radio" #if($status.value && $status.value==4)checked="checked" #end onclick="javascript:setregister('payment.html?vid=$vendorSettingsDTO.vendorId');showhidepayment_info(this.value);"> #springMessage("vm.register.shipretailers")</label>
				#springBind( "registerViewDTO.retailerid")
                    <select id="selretailer"  name="$status.expression">
                      <option value="0">#springMessage("vm.register.plselectretailer")</option>
				#foreach($retail  in $registerViewDTO.retailers)
                      <option value="$retail.retailer.id" #if($status.value && $status.value==$retail.retailer.id) selected  #end>$retail.retailer.name</option>
				#end
                    </select>
                  </div>
                </div>
			#end
		
		#end
	#end
#end
######### END #if($registerViewDTO.memberType != '1') ##########
