<div class="row">
	<h3>#springMessage("vm.shippingaddress.title")</h3>
</div> <!-- end row -->

#if( $myAccountDTO.shippingAddress.size() > 0 )
<div class="row">
	<table class="table">
		<colgroup>
			<col class="col1" />
			<col class="col2" />
			<col class="col3" />
			<col class="col4" />
			<col class="col5" />
			<col class="col6" />
			<col class="col7" />
		</colgroup>
		<thead>
			<tr>
				<th scope="col"> #springMessage("vm.editshippingaddress.nickname")</th>
				<th scope="col"> #springMessage("vm.register.address")</th>
				<th scope="col"> #springMessage("vm.register.city")</th>
				<th scope="col"> #springMessage("vm.register.province")</th>
				<th scope="col"> #springMessage("vm.register.postal")</th>
				<th scope="col"> #springMessage("vm.register.country")</th>
				<th scope="col"> &nbsp;</th>
			</tr>
		</thead>
		<tbody>
	#foreach($address in $myAccountDTO.shippingAddress)
			<tr>
				<th scoper="row">$address.nickname</th>
				<td >$address.address1</td>
				<td >$address.city</td>
		#foreach($country in $myAccountDTO.countyInUse)
			#if($country.country.id==$address.countryid)
				#set($isoCountry = $country)
			#end
		#end
				<td>
		#if($address.provinceid != 0)
			#foreach($province in $isoCountry.provinces)
				#if($address.provinceid == $province.province.id)
					$province.province.name &nbsp;
				#end
			#end
		#else
					$address.anotherprovince &nbsp;
		#end
				</td>
				<td >
		#if($address.postal.length() > 0)
					$address.postal
		#end

		#if(($address.provinceid > 0) || ($address.postal.length() > 0))
		#end
				</td>
				<td>
		#if($isoCountry)
					$isoCountry.country.name
		#end
				</td>    
				<td>
					<a href="myaccount.html?mode=editshippingaddress&addressid=$address.addressid&vid=$vendorSettingsDTO.vendorId">#springMessage("word.edit")</a>
					<br>
					<a href="myaccount.html?mode=delshippingaddress&addressid=$address.addressid&vid=$vendorSettingsDTO.vendorId">#springMessage("word.delete")</a>
				</td>
			</tr>
	#end  
		</tbody>
	</table>
</div> <!-- end row -->
#else
<div class="row">
	<p>Currently there are no shipping address defined</p>
</div> <!-- end row -->
#end

<div class="row">
	<div class="form-actions">
		<a class="button small" name="add" href="myaccount.html?mode=newshippingaddress&vid=$vendorSettingsDTO.vendorId">#springMessage('vm.shippingaddress.newadd')</a>  
	</div>
</div> <!-- end row -->
