<div class="alert alert-warning">
	<h4>Welcome:</h4>
	<p>You are viewing your new account home page. From here you now have access to everything you need to review and manage your wholesale account. Also, you will find some resources and tools that we have made available for your convenience. </p>
</div>
