<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Northern Wholesale Supply, Inc.</title>
<script type="text/javascript">
<!--
window.location = "http://old.northernwholesale.com/storefrontB2BWEB"
// -->
</script>
</head>
<body>
<h2> The location for our old storefront has been moved to a new location. If you are not forwarded automatically, please click on the link below: </h2>
<p> Northern Wholesale Supply Inc. <a href="http://old.northernwholesale.com/storefrontB2BWEB" > Storefront Access</a></p>
</body>
</html>