<div class="alert alert-error alert-block">
  <h3>We're sorry, </h3>
  <p>Our records indicate that your account is not ready. Either you have not <a href="register.html?20120606532&mt=1" alt="get your wholesale account registered">registered for an account</a>  yet, or, your account has not been approved yet. If you have not received word of your Account Approval, please contact Northern Wholesale Supply, Inc. at <strong> 1-800-666-1111</strong> and we'll see what the hold up is.</p>
</div>