
## update for c8.5
#if($checkoutViewDTO.onepagecheckout)
    <!-- one page checkout Start -->
<div id="payment_info" style="background-color: red">
   <a name="payment"></a>
   <table class="table p-table" id="productItems">
         <colgroup>
            <col class="col1" />
            <col class="col2" />
            <col class="col3" />
   #if(!$checkoutViewDTO.allNoneShippableItems)
            <col class="col4" />
            <col class="col5" />
   #end
         </colgroup>
         <thead>
            <tr>
               <th>#springMessage("vm.register.description")</th> 
            #if(!$checkoutViewDTO.allNoneShippableItems)
               <th>#springMessage("vm.register.shipto")</th>
               <th>#springMessage("vm.register.shipmethod")</th>
            #end
               <th>#springMessage("vm.register.qty")</th>
               <th>#springMessage("vm.register.total")</th>
            </tr>
         </thead>


         <tbody>
    #set($groupidx = 0)
    #foreach($productgroup in $$checkoutViewDTO.details.shippinggroup)
      #if($groupidx > 0)
         <!-- <div class="divider"></div> -->
      #end
      
      #set($itemidx = 0)
      
      #foreach($productitem in $productgroup.shipItems)
        #set ($product = $checkoutViewDTO.details.products.get($productitem.get(0) ))
        #set ($shipaddr= $product.shipAddress.get($productitem.get(1) ))
        #set($creditneed = "N")
            <tr>
               <td>${productitem.product.title}</td>
           #if(!$checkoutViewDTO.allNoneShippableItems)
               <td>
           #set($invalidAddress="false")                       
              #if($itemidx == 0 )
                 $productgroup.address.address.nickname 
                  <a href="shipping.html?vid=$checkoutViewDTO.vendorId" class="edit">#springMessage("word.edit")</a> <br/>
    
                 #if($productgroup.address.address.address1 && $productgroup.address.address.postal && $productgroup.address.country.name ) 
                    #if($productgroup.address.province.name || $productgroup.address.address.anotherprovince)
                       $productgroup.address.address.address1  $!productgroup.address.address.address2 <br/>
                       $productgroup.address.address.city <br>
                       $!productgroup.address.province.name $!productgroup.address.address.anotherprovince
                       $productgroup.address.country.name <br/> 
                       $productgroup.address.address.postal 
                    #else
                  <ul class="red">#springMessage("vm.register.invalid")</ul>
                       #set($invalidAddress="true")
                    #end
                 #end
              #end
               </td>
               <td>                    
           #if($itemidx == 0 )
              #if($productgroup.singleship)
                 ${productgroup.shipmethod.shippingmethod.methodname}
              #else
                 <select name="SHIPTYP_${groupidx}" ID="SHIPTYP_${groupidx}"  onchange="document.frm.submit()">
                 #foreach($shipmethod in ${productgroup.shipmethods}) 
                    #if( ${productgroup.shipmethod.shippingmethod.id} == ${shipmethod.shippingmethod.id})
                    <option value="${shipmethod.shippingmethod.id}" selected>${shipmethod.shippingmethod.methodname}- $ $checkoutViewDTO.formatter.currency(${shipmethod.shippingRateDTO.totalcharges})</option>
                    #else
                    <option value="${shipmethod.shippingmethod.id}">${shipmethod.shippingmethod.methodname}- $ $checkoutViewDTO.formatter.currency(${shipmethod.shippingRateDTO.totalcharges})</option>
                   #end 
                #end
                </select>
             #end
          #end
              </td>
         #end
              <td class="ac"> ${productitem.shipaddr.qty} </td>
              <td class="ar"> $number.format('currency',${productitem.shipaddr.totalPrice}, $viewStoreCurrency.locale) </td>
           </tr>
         #set($itemidx = $itemidx + 1)
      #end
      #set($groupidx = $groupidx+1)
   #end
       </tbody>


      <tfoot class="totals">
         <tr class="subtotal">
      #if($checkoutViewDTO.allNoneShippableItems) <td colspan="1" class="empty-cel">&nbsp;</td>#else <td colspan="3" class="empty-cel">&nbsp;</td>#end
            <td class="ar vat lbl">#springMessage("vm.register.subtotal") ($checkoutViewDTO.details.totalQty 
               #if($checkoutViewDTO.details.totalQty > 1)
                  #springMessage("vm.register.items")
               #else 
                  #springMessage("vm.register.item")
               #end):</td>
            <td class="ar vat val">$number.format('currency', $checkoutViewDTO.details.total, $viewStoreCurrency.locale)</td>
         </tr>
         <input type="hidden" value="$subtotal" id="subtotal" name="subtotal">
         #if($math.round($checkoutViewDTO.details.totalDiscount )> 0)
         <tr class="discount">
            <td colspan="3" class="empty-cel">&nbsp;</td>
            <td class="ar vat lbl"> #springMessage("vm.register.discounts"): </td>
            <td class="ar vat val"> $number.format('currency', $checkoutViewDTO.details.totalDiscount, $viewStoreCurrency.locale) </td>
         </tr>
         #end
#set($tempgiftcert=0)
   #if($checkoutViewDTO.giftCertificate.giftCertificates && $checkoutViewDTO.giftCertificate.giftCertificates.size() > 0 )
         <tr class="discount">
      #if($checkoutViewDTO.allNoneShippableItems) 
            <td colspan="1" class="empty-cel">&nbsp;</td>
      #else 
            <td colspan="3" class="empty-cel">&nbsp;</td>
      #end
            <td class="ar vat lbl">#springMessage("vm.register.giftapplied"):</td>
            <td class="ar vat val"> $number.format('currency', $checkoutViewDTO.giftCertificate.totalAvailable, $viewStoreCurrency.locale) </td>
         </tr>
   #set($tempgiftcert=$checkoutViewDTO.giftCertificate.totalAvailable)
#end
         <tr class="shipping">
      #if($checkoutViewDTO.allNoneShippableItems) 
            <td colspan="1" class="empty-cel">&nbsp;</td>
      #else
            <td colspan="3" class="empty-cel ar f-buttons">
            <input type="button" value="recalculate" onclick="calcShippingAndTax(true);"/></td>
      #end
            <td class="ar vat lbl">#springMessage("vm.register.shipping"):</td>
            <td class="ar vat val" id="checkout_shipping_id"> $number.format('currency',$checkoutViewDTO.details.shipTotal,$viewStoreCurrency.getLocale()) </td>
         </tr>
       #if($checkoutViewDTO.details.perShippingDiscount>0)
         <tr class="discount" id="shippingDiscount">
            <td colspan="3" class="empty-cel">&nbsp;</td>
            <td class="ar vat lbl">
               <span id="shippinglab1">Shipping Discount:</span>
            </td>
            <td class="ar vat val"> $number.format('currency', $checkoutViewDTO.details.perShippingDiscount,$viewStoreCurrency.locale) </td>
         </tr>
       #end
         <tr class="tax">
       #if($checkoutViewDTO.allNoneShippableItems) 
           <td colspan="1" class="empty-cel">&nbsp;</td>
       #else 
           <td colspan="3" class="empty-cel">&nbsp;</td>
       #end
            <td class="ar vat lbl">
               <span id="taxlab1">#springMessage("vm.register.tax"):</span>
            </td>
            <td class="ar vat val" id="checkout_tax_id"> $number.format('currency', $checkoutViewDTO.details.taxTotal, $viewStoreCurrency.locale) </td>
         </tr>
         <tr class="total">
       #if($checkoutViewDTO.allNoneShippableItems) 
            <td colspan="1" class="empty-cel">&nbsp;</td>
       #else 
            <td colspan="3" class="empty-cel">&nbsp;</td>
       #end
            <td class="ar vat lbl">#springMessage("vm.register.totalbill"):</td>
            <td class="ar vat val" id="checkout_total_bill_id">
               #set($totalwithdis=$math.sub($math.sub($checkoutViewDTO.details.total,$checkoutViewDTO.details.totalDiscount),$checkoutViewDTO.details.perShippingDiscount))
               $number.format('currency', $math.abs($math.sub($math.add($math.add(${totalwithdis},${checkoutViewDTO.details.taxTotal}),${checkoutViewDTO.details.shipTotal}),${tempgiftcert})), $viewStoreCurrency.locale) 
            </td>
         </tr>
       #if($checkoutViewDTO.details.usepoints!=0)                          
         <tr class="total">           
            #if($checkoutViewDTO.details.usepoints==2)
               #if($checkoutViewDTO.allNoneShippableItems) 
            <td colspan="1" class="empty-cel">&nbsp;</td>
               #else 
            <td colspan="3" class="empty-cel">&nbsp;</td>
               #end
            <td class="ar vat lbl">#springMessage('vm.basket.balancedue'):</td>
       #elseif($checkoutViewDTO.details.usepoints==1)
            <td colspan="3" class="empty-cel">&nbsp;</td>
            <td class="ar vat lbl">#springMessage('vm.basket.pointsneed'):</td> 
       #end 
            <td class="ar vat val">
            $#if($checkoutViewDTO.details.allowances >= $math.add($math.add($checkoutViewDTO.details.totalWithDiscount,$checkoutViewDTO.details.shipTotal),$checkoutViewDTO.details.taxTotal))
               PTS $math.round($math.add($math.add($checkoutViewDTO.details.totalWithDiscount,$checkoutViewDTO.details.shipTotal),$checkoutViewDTO.details.taxTotal)) 
            #else
               $$checkoutViewDTO.formatter.currency($math.abs($math.sub($math.sub($math.sub($math.add($math.add(${checkoutViewDTO.details.totalWithDiscount},${checkoutViewDTO.details.taxTotal}),${checkoutViewDTO.details.shipTotal}),${tempgiftcert}),$checkoutViewDTO.details.allowances),$checkoutViewDTO.details.perShippingDiscount)))
            #end 
            </td>
         </tr>
       #end
       </tfoot>
    </table>    
 
 
 
 
#***************************
 When manager email feature
 is off, you can hide the 
 following div tag. 
***************************#
#*
   <div id="managerEmail">
      <label>Manager Email: </label><input type="text" name="managerEmail" size="20" value="$!{session.getAttribute("managerEmail")}">       
   </div>
*#
   <div id="paymentGateway">
      #springBind("checkoutViewDTO.radioButtonId")
      <input type="hidden" name="$status.expression" value="$!status.value" id="hidden_radioid">
      #springBind("checkoutViewDTO.inputFieldId")
      <input type="hidden" name="$status.expression" value="$!status.value" id="hidden_inputid">
      #springBind("checkoutViewDTO.selectedPaymentGatewayId")
      <input type="hidden" name="$status.expression" value="$status.value" id="hidden_pgid">  
                        
      <h2 class="title"> #springMessage("vm.register.msg4") </h2>

      #foreach($paymentgateway in ${checkoutViewDTO.ccPreferencesDTO.paymentgateways})
      <div class="f-row">
         <input type="radio" class="paymentTypes" name="selectedPaymentGatewayCode" id="radio_$velocityCount" onClick="showhide('$paymentgateway.paymentgatewayid',this.value,this.id,'input_$velocityCount');if(isBillingAddressChanged){document.frm.t.value='billingchange';setAnchorName('payment');}" value="$paymentgateway.code" >
         #if($paymentgateway.logo && $paymentgateway.logo!="")
         <div class="f-field">
            <img src="$paymentgateway.logo" alt="$paymentgateway.displayname"/>
         </div> 
         #else
        
         #if($paymentgateway.inputtype && $paymentgateway.inputtype!=0)
            #springBind("checkoutViewDTO.customerInput")
         <div class="f-field">
            <label for="radio_$velocityCount">$paymentgateway.displayname
			<span  id="radio_text_input_$velocityCount" style="display:none">$paymentgateway.prompttext</span></label>
            <input type="text" name="$status.expression" id="input_$velocityCount" value="$!status.value" style="display:none" disabled>
         </div>
         #else
         <div class="f-field">
            <label for="radio_$velocityCount">$paymentgateway.displayname
			<span  id="radio_text_input_$velocityCount" style="display:none">$paymentgateway.prompttext</span></label>
         </div>
         #end
      #end
#############################################################

#if($paymentgateway.code == "PCICC" || $paymentgateway.code == "PCINONE")
<!-- PCI Secure Form -->
   <div id="cc">
      <div class="horizontal custom-lbl-width">    
         <div class="title">
            <div class="heading2">#springMessage("vm.checkout_payment.creditcardinfo")</div>
         </div>

         <fieldset class="f-row">
            <legend class="outer">*#springMessage("vm.checkout_payment.creditcard")</legend>
            
            <input id="reviewAndPay-cardType-visa" name="reviewAndPay-cardType" type="radio" class="radio" value="visa" />
            <label class="visa" for="reviewAndPay-cardType-visa"><img src="store/$vendorSettingsDTO.vendorId/assets/themes/theme2_en/images/icons/visa.gif" alt="Visa" /></label>
            
            <input id="reviewAndPay-cardType-masterCard" name="reviewAndPay-cardType" type="radio" class="radio" value="masterCard" />
            <label class="masterCard" for="reviewAndPay-cardType-masterCard"><img src="store/$vendorSettingsDTO.vendorId/assets/themes/theme2_en/images/icons/master_card.gif" alt="Master Card" /></label>
            
            <input id="reviewAndPay-cardType-discover" name="reviewAndPay-cardType" type="radio" class="radio" value="discover" />
            <label class="discover" for="reviewAndPay-cardType-discover"><img src="store/$vendorSettingsDTO.vendorId/assets/themes/theme2_en/images/icons/discover.gif" alt="Discover" /></label>    
         </fieldset>

        <div class="f-row">
           <label for="reviewAndPay-cardNumber">*Card Number</label>
           <input id="reviewAndPay-cardNumber" name="reviewAndPay-cardNumber" type="text" class="text" />
        </div>

   #if($paymentgateway.code == "PCICC")
        <div class="f-row">
           <label for="reviewAndPay-level2Code">*#springMessage('vm.register.securitycode')</label>
           <div class="f-field">
              <input id="reviewAndPay-level2Code" name="creditCard.level2Code" type="text" class="text" />
              <a href="#" onclick="return false;">What's this?</a>
           </div>
        </div>
   #else
         <input type="hidden" name="creditCard.level2Code" id="cvv" value="1234"  autocomplete="off"/>
   #end
        <input type="hidden" id="currencyCode" value="$paymentgateway.option9">
        <input type="hidden" id="authamt" value="$!checkoutViewDTO.authamt"/>
        <input type="hidden" id="saleamt" value="$!checkoutViewDTO.saleamt"/>
        <input type="hidden" id="zip" value="$!checkoutViewDTO.addresses.billingAddress.postal"/>
        <input type="hidden" id="regioncode" value="$!checkoutViewDTO.addresses.billingAddress.provinceCode"/>
        <input type="hidden" id="countrycode" value="$!checkoutViewDTO.addresses.billingAddress.countryCode"/>
        <input type="hidden" id="city" value="$!checkoutViewDTO.addresses.billingAddress.city"/>
        <input type="hidden" id="street" value="$!checkoutViewDTO.addresses.billingAddress.address1"/>
        <input type="hidden" id="firstName" value="$!checkoutViewDTO.addresses.billingAddress.firstName"/>
        <input type="hidden" id="middleName" value="$!checkoutViewDTO.addresses.billingAddress.middleName"/>
        <input type="hidden" id="lastName" value="$!checkoutViewDTO.addresses.billingAddress.lastName"/>
        <input type="hidden" id="address1" value="$!checkoutViewDTO.addresses.billingAddress.address1"/>
        <input type="hidden" id="address2" value="$!checkoutViewDTO.addresses.billingAddress.address2"/>
        <input type="hidden" id="phone" value="$!checkoutViewDTO.addresses.billingAddress.dphone"/>
        <input type="hidden" id="billingemail" value="$!checkoutViewDTO.addresses.billingAddress.email"/>
        <input type="hidden" name="email" value="$!checkoutViewDTO.addresses.billingAddress.email"/>

        <div class="f-row">
        <label for="reviewAndPay-expMonth">*Expiration Date</label>
           <div class="f-field">
              <select class="month" id="reviewAndPay-expMonth" name="reviewAndPay-expMonth">
	              <option value="0">-Month-</option>
	              <option value="1">January</option>
	              <option value="2">February</option>
	              <option value="3">March</option>
	              <option value="4">April</option>
	              <option value="5">May</option>
	              <option value="6">June</option>
	              <option value="7">July</option>
	              <option value="8">August</option>
	              <option value="9">September</option>
	              <option value="10">October</option>
	              <option value="11">November</option>
	              <option value="12">December</option>
               </select>
               <select class="year" id="reviewAndPay-expYear" name="reviewAndPay-expYear">
                  <option value="0">-Year-</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
               <select>
            </div>
         </div><!-- /end .f-row -->

         <div class="f-row">
         <label for="creditCard.ccHolderName">* #springMessage('vm.register.nameoncard')</label>
         #if($checkoutViewDTO.addresses.billingAddress.firstName && $checkoutViewDTO.addresses.billingAddress.firstName!=""
             && $checkoutViewDTO.addresses.billingAddress.lastName && $checkoutViewDTO.addresses.billingAddress.lastName!="")
            <input type="text" name="creditCard.ccHolderName" id="creditCard.ccHolderName" value="$!checkoutViewDTO.addresses.billingAddress.firstName $!checkoutViewDTO.addresses.billingAddress.lastName" />
         #else
            <input type="text" name="creditCard.ccHolderName" id="creditCard.ccHolderName" value="" />
         #end
         </div><!-- /end .f-row -->
      </div><!-- /end .horizontal custom-lbl-width-->
   </div><!-- /end .cc -->



   <div class="secure" id="ccsubmitted">
      <div class="f-form horizontal custom-lbl-width">
         <div class="title">
            <div class="heading2">Your Credit Card Information</div>
            <div class="legend">*Required</div>
        </div>
        <div class="f-row">
        <label class="outer">*Credit Card</label>
           <div class="f-field">
              <span class="visa">VISA</span>
           </div>
        </div>
        <div class="f-row">
           <input type="hidden" name="transactionid" id="transactionid" value=""/>
           <input type="hidden" id="pciorderid" value="$checkoutViewDTO.ccIdentifier" />
           <input type="hidden" name="creditCard.ccNumber" id="CARDNO" value=""  autocomplete="off"/>
           <input type="hidden" id="creditCard.ccType" name="creditCard.ccType" value="3" />
           <input type="hidden" id="creditCard.expMonth" name="creditCard.expMonth" value="1"/>
           <input type="hidden"  name="creditCard.expYear" value="2010" />
           <label for="reviewAndPay-cardNumber">*Card Number</label>
           
           <div class="f-field">
              <span>XXXX-XXXX-XXXX-</span><span id="last4cc"></span><a onclick="javascript:$('#ccsubmitted').css('display','none');$('#cc').css('display','block');" class="editCC">Edit Credit Card</a>
           </div>
        </div><!-- /end .f-row -->
        <div class="f-row">
        <label for="reviewAndPay-expMonth">*Expiration Date</label>
           <div style="float:left">
              <span id="expDate"></span>
           </div>
        </div><!-- /end .f-row -->
      </div><!-- /end .sleeve -->
   </div><!-- End secure with prepop CC# and Exp Date-->

#elseif($paymentgateway.code.indexOf("NCC") == -1 )
<!-- Credit Card Form -->
   <div id="payment_method" style="display:none" >

      <div class="f-row">
      <label for="CARDNO" >#springMessage("vm.register.creditcard")</label>
         <div class="f-field vat" >
         #springBind ("checkoutViewDTO.creditCard.ccNumber")
         #if($checkoutViewDTO.creditCard.startYear == 1)
            <input type="text" name="$status.expression" id="CARDNO" value="$checkoutViewDTO.creditCard.ccSecureNumber"  autocomplete="off"/>
         #else
            <input type="text" name="$status.expression" id="CARDNO" value="$status.value"  autocomplete="off"/>
         #end
         <div class="info_needed">#springMessage("vm.register.msg5")</div>
         </div>
      </div>

      <div class="f-row">
<script language="javascript" type="text/javascript">
   function checkKey() {
      var keyword = document.getElementById('keyword');
      var key = document.getElementById('key');

      keyword.value = key.value;
      if (keyword.value.length==0)
          keyword.value = $vendorSettingsDTO.vendorId;
      }
</script>    
      <label for="cvv">#springMessage('vm.register.securitycode')</label>
         <div class="f-field" >
         #springBind ("checkoutViewDTO.creditCard.level2Code")
         #if($checkoutViewDTO.creditCard.startYear == 1)
            <input type="text" name="$status.expression" id="cvv" value="***"  autocomplete="off"/>
         #else
           <input type="text" name="$status.expression" id="cvv" value="$status.value" maxlength="4" size="4"  autocomplete="off"/>
         #end
           <span class="info_needed whatsthis" id="securityCode_help">#springMessage('vm.register.msg6')</span>
         </div>
      </div>  

      <div class="f-row">
      #springBind ("checkoutViewDTO.creditCard.ccType")
      <label for="$status.expression">#springMessage('vm.register.cctype')</label>
         <div class="f-field" >      
            <select name="$status.expression" id="$status.expression">
               <option value="0" selected>#springMessage('vm.register.selectcard')</option>
               #set ($cardtypekeys = $checkoutViewDTO.creditCard.ccTypes.keySet())
               #foreach ($cardtypekey in $cardtypekeys)
                  #if ( $cardtypekey == 3 || $cardtypekey == 5 || $cardtypekey==6 || $cardtypekey==7)
                     #if ($cardtypekey == $status.value)
               <option value="$cardtypekey" selected>$checkoutViewDTO.creditCard.ccTypes.get($cardtypekey)</option>
                     #else
               <option value="$cardtypekey">$checkoutViewDTO.creditCard.ccTypes.get($cardtypekey)</option>
                  #end  
               #end
#end
            </select>
         </div>
      </div>
    
      <div class="f-row">
      #springBind ("checkoutViewDTO.creditCard.expMonth")
         <label for="$status.expression">#springMessage('vm.register.expirydate')</label>
         <div class="f-field">
         #set ( $months = [1,2,3,4,5,6,7,8,9,10,11,12])
            <select id="$status.expression" name="$status.expression">
            #foreach( $month in $months)
               <option value="$month" #if($status.value && $status.value == $month) selected #end> $month </option>
            #end
            </select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            #springBind ("checkoutViewDTO.creditCard.expYear")
            <select name="$status.expression">
            #foreach( $step in [0..10] )
               <option value="$math.add($date.getYear(),$step)" #if( $status.value && $status.value == $math.add($date.getYear(),$step)) selected #end> $math.add($date.getYear(),$step) </option>
            #end
            </select>
         </div>
      </div>
  
      <div class="f-row">
      <label for="nameoncard" class="f-field">#springMessage('vm.register.nameoncard')</label>
         <div class ="f-field">
         #springBind ("checkoutViewDTO.creditCard.ccHolderName")
            <input type="text" name="$status.expression" id="nameoncard" value="$status.value" maxlength="50" size="20" />
        </div>
     </div>
   </div> <!-- end of payment_method --> 

#end
#############################################################
                          </div>
                          <!-- End attrib -->
#end
</div><!-- End paymentGateway --> 


 
<div class="promos" id="paymentGateway_promo">
   <div class="gift-card">
   #springBind ("checkoutViewDTO.giftCertificateCodes")
      <div class="f-row">
      <label for="$status.expression" ><b>#springMessage('vm.register.giftnumber')</b></label>
         <div class="f-field" >
            <input id="$status.expression" type="text" name="$status.expression"  value="$status.value" size="15"  maxlength="80" onKeyDown="if (event.keyCode==13){document.frm.t.value='prom';document.frm.submit();event.keyCode=9;}" />
            <input type="button" value="#springMessage('vm.register.applygift')" onclick="javascript:document.frm.t.value='gift';setAnchorName('payment');document.frm.submit();">
                
         </div>
      </div>

      <div class="f-row">
	     #if($checkoutViewDTO.giftCertificate.giftCertificates && $checkoutViewDTO.giftCertificate.giftCertificates.size() > 0)
	        #set ($totalgift=0)
	        #set ($totalgiftAmount=0)
	        #foreach($giftcert in $checkoutViewDTO.giftCertificate.giftCertificates)
	           #set ($totalgift =  $math.add(${totalgift},$math.add($giftcert.newAmountUsed,$giftcert.amountUsed)))
	           #set ($totalgiftAmount = $math.add(${totalgiftAmount},$giftcert.amount))  
	        #end
	        <label><strong>#springMessage('vm.register.balance'):</strong></label>
	        <div class="f-field">
	           <strong>$$checkoutViewDTO.formatter.currency($math.sub($totalgiftAmount,$totalgift))</strong>
	        </div>
	     #end
     
	     #if($checkoutViewDTO.giftCertificate.status.keySet() && ($checkoutViewDTO.giftCertificate.status.containsValue("0") || $checkoutViewDTO.giftCertificate.status.containsValue("1") || $checkoutViewDTO.giftCertificate.status.containsValue("2") || $checkoutViewDTO.giftCertificate.status.containsValue("3") || $checkoutViewDTO.giftCertificate.status.containsValue("4") || $checkoutViewDTO.giftCertificate.status.containsValue("5") || $checkoutViewDTO.giftCertificate.status.containsValue("6")  || $checkoutViewDTO.giftCertificate.status.containsValue("7") ) )
	         <div class="warning" style="color:red">
			      <ul>
			        #foreach($key in $checkoutViewDTO.giftCertificate.status.keySet())
			          #set($statval=$checkoutViewDTO.giftCertificate.status.get($key))
			          #if($statval == "0")
			            <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg1')</li>
			          #end
			          #if($statval == "1")
			            <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg2')</li>
			          #end
			          #if($statval == "2")
			            <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg3')</li>
			          #end
			          #if($statval == "3")
			            <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg4')</li>
			          #end
			          #if($statval == "4")
			            <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg4')</li>
			          #end
			          #if($statval == "5")
			            <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg5')</li>
			          #end
	                  #if($statval == "6")
	                    <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg6')</li>
	                  #end
	                  #if($statval == "7")
	                    <li>{ <b>$key</b> } ---  #springMessage('vm.checkout_payment.msg12')</li>
	                  #end
	               #end
	               </ul>
	            </div> <!-- end gc warning -->
	       #end  
           </div>  
   </div><!-- end gift-card -->

#springBind("checkoutViewDTO.promotionCode")
   <div class="coupon">
      <div class="f-row">
      <label for="$status.expression"><strong>#springMessage('vm.register.couponcode')</strong></label>
         <div class ="f-field">
            <input id="$status.expression" type="text" name="$status.expression" maxlength="20" value="$status.value"  size="15" onKeyDown="if (event.keyCode==13){document.frm.t.value='prom';document.frm.submit();event.keyCode=9;}"  />
            <input type="button" onclick="document.frm.t.value='prom';setAnchorName('payment');document.frm.submit();" value="#springMessage('vm.register.applycoupon')">
        ##<p><a href="javascript:void(0);" onclick="document.frm.t.value='prom';setAnchorName('payment');document.frm.submit();">#springMessage('vm.register.applycoupon')</a></p>
         </div>
      #if(${checkoutViewDTO.promotionMsg})
         <div class="warning" style="color:red">#if($discount&&$discount>0&&$checkoutViewDTO.promotionCode)Coupon/Promotion Code {<b> $checkoutViewDTO.promotionCode </b>} applied #end $!{checkoutViewDTO.promotionMsg}</div>
      #end 
       </div>  
   </div><!-- end coupon -->
</div> <!-- end promo -->
		

 #end