<h3>Thank you for your interest. We&#39;ve received your inquiry.</h3>
<p> After review, qualified potential accounts will be contacted for further information within 2 business days.  At that time, we&#39;ll answer your questions, provide you with a credit application, and ask for a completed tax exemption certificate.</p>
<p>Please note that completing the “Account Inquiry Form” or the following application process does not activate an account or guarantee future account status.  We will contact qualified accounts as soon as possible, but accounts are not active until you receive confirmation from your sales representative.</p>
