#if($vendorSettingsDTO.templateName == "home_store")
#set($span = "span12")
#end
<div id="myCarousel" class="carousel slide pull-left ${span}">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/images/2014_MarineShow.jpg" />
		</div>
		<div class="item">
			<img src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/images/2014_RVShow.jpg" />
		</div>
		<div class="item">
			<img src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/images/nws-home2.png" />
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
