<!-- start control heading -->
#if (!$pageTileDictionaryDTO)
	#if ($_commandName)
		#springBind( "${_commandName}.pageTileDictionaryDTO" )
		#set ($pageTileDictionaryDTO = ${status.value})
	#end
#end
#if ($pageTileDictionaryDTO)
#set ($Menu5DTO=$pageTileDictionaryDTO.getPageTile("Menu5DTO") )
#set ($Menu1DTO=$pageTileDictionaryDTO.getPageTile("Menu1DTO") )
#set ($Menu4DTO=$pageTileDictionaryDTO.getPageTile("Menu4DTO") )
#set ($Menu3DTO=$pageTileDictionaryDTO.getPageTile("Menu3DTO") )
#set ($Menu2DTO=$pageTileDictionaryDTO.getPageTile("Menu2DTO") )
#end
<!-- end control heading -->
#set( $propName = "SessionCustomerDTO_"+$vid)
#set ($approved = "False")
#if($request.getSession().getAttribute($propName))
  #set($approved = $request.getSession().getAttribute($propName).getProps().get("approved"))
#end
 
<div class="header navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="logo" href="https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/store.html?vid=$vendorSettingsDTO.vendorId">&nbsp;</a>
      <ul class="nav" style="float:right">
        <li class="dropdown">
#if(!${welcomeMatDTO.loggedIn})
          <a href="https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/signin.html?vid=20120606532&mt=1" id="drop3" role="button" class="dropdown-toggle"> Dealer Login<b class="caret"></b></a> 
        </li>
#else
        <a href="https://${appSettingsDTO.getDomainAlias($vendorSettingsDTO.vendorId)}/${appSettingsDTO.AppName}/basket.html?vid=20120606532"> Your Orders</a>
        </li>
#end 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- add some useless junk here for testing-->
