<div class="alert">
	<p>To begin the application process, please complete the Account Inquiry form, or call us Monday-Friday at <b>1-800-333-7777 from</b> 8am-5pm CST to speak with an account representative.</p>
	<p>As a wholesale distributor, neither Northern Wholesale Supply nor northernwholesale.com offer retail or consumer-direct accounts.</p>
</div>
