<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
#set($pageURI = "store.html")
#macro ( hrefNewParameter $paramName $paramValue )
  #set($hrefString = "${pageURI}?")
  #if($request.getParameterMap().size()>0)
    #foreach($parName in $request.getParameterNames())
      #foreach($parVal in $request.getParameterValues($parName))
        #if(!$parName.equals($paramName))
          #set($hrefString = "${hrefString}${parName}=${parVal}&")
        #end
      #end
    #end
  #end
  #set($hrefString = "${hrefString}${paramName}=${response.encodeURL($paramValue)}")
  $hrefString
#end
#set($pageURI = "advancedsearch.html")
#if($request.isSecure())
   #if ($request.getServerPort() ==443)
      #set ($baselink = "https://$request.getServerName()$request.getContextPath()/")
   #else
      #set ($baselink = "https://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
   #end
#else
   #if ($request.getServerPort() ==80)
      #set ($baselink = "http://$request.getServerName()$request.getContextPath()/")
   #else
      #set ($baselink = "http://$request.getServerName():$request.getServerPort()$request.getContextPath()/")
   #end
#end
#if (!$pageTileDictionaryDTO)
   #if ($_commandName)
      #springBind( "${_commandName}.pageTileDictionaryDTO" )
      #set ($pageTileDictionaryDTO = ${status.value})
   #end
#end
#set($layoutClass="list")
#if($CookiesDTO && $CookiesDTO.getCookieValue('preferences'))
    #if($CookiesDTO.getCookieValue('preferences')=="grid")
        #set($layoutClass= "grid") 
   #end 
#end
#if(($multiPageViews) && ($__virtualCategory))
   #set($itemMultiPageView = $multiPageViews.get($__virtualCategory.getPageTileName()))
#end
#if($CookiesDTO && $CookiesDTO.getCookieValue('preferences'))
  #if($CookiesDTO.getCookieValue('preferences')=="grid")
    #set($itemViewClass= "grid")
  #else
    #set($itemViewClass= "list")
  #end
#else
  #set($itemViewClass= "grid")
#end
<html>
<!-- solr_advanced_search.vm--><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<base href="$baselink"/>
<meta name="description" content="#if($metadescription && $metadescription!="") $metadescription #else   #end" />
<meta name="keywords" content="#if($metadescription && $metakeywords!="")$metakeywords #else   #end" />
<title>#springMessage("vm.solr_advanced_search.title")</title>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_css.vm")
<link rel="stylesheet" type="text/css" href="assets/yahooUI/build/container/assets/container.css" />
</head>
<body id="adv-search" class="nws">
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/header.vm")
  <div class="container-fluid main-container">
    #parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/search_bar.vm")
      <div class="row-fluid">
        <div class="data-container">
           <div class="side-nav">
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/side_nav.vm")      
           </div>
           <div class="row-fluid main"> 
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/adv_search_content.vm")        
           </div>
    </div>
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/footer.vm")
  </div><!-- end container-fluid -->
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/common_js.vm")
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/quicklook_ext.vm")
#parse("/$vendorSettingsDTO.vendorId/$vendorSettingsDTO.themeId/quickadd_ext.vm")

<script language="javascript">
var specialCharSet=[["\\\\" , "!" , "\\(" , "\\)" , "\\:"  , "\\^" , "\\[" , "\\]" , "\\{"  , "\\}" , "~" , "\\*" ,  "\\?"  , "\\\"" , "\\-" , "\\+"],["\\\\\\" , "\\\\!" , "\\\\(" , "\\\\)" , "\\\\:"  , "\\\\^" , "\\\\[" , "\\\\]" , "\\\\{"  , "\\\\}" , "\\\\~" , "\\\\*" ,  "\\\\?"  , "\\\\\"" , "\\\\-" , "\\\\+"]];


    function escapeLucene(keyword) {
      var copyKeyword = keyword;
      for (i=0;i<=specialCharSet[0].length - 1;i++){
        copyKeyword = copyKeyword.replace(new RegExp(specialCharSet[0][i], 'g'), specialCharSet[1][i]);
      }
      return copyKeyword;
    }

    function createkeyword(keyword, price, formEntity) {

    if(formEntity.keyword1.value!='') {
      keyword.value = "+" + '"'+escapeLucene(formEntity.keyword1.value)+'"';
    }
    if(formEntity.keyword2.value!='') {
      keyword.value = keyword.value + " " + formEntity.kw1logic.value + '"' +escapeLucene(formEntity.keyword2.value) + '"';
    }
    if(formEntity.keyword3.value!='') {
      keyword.value = keyword.value + " " + formEntity.kw2logic.value + '"' + escapeLucene(formEntity.keyword3.value) + '"';
    }
    if(formEntity.keyword4.value!='') {
      keyword.value = keyword.value + " " +  formEntity.kw3logic.value + '"' + escapeLucene(formEntity.keyword4.value) + '"';
    }
                if(keyword.value!='') {
                       keyword.value = "(" +keyword.value+")"; 
                } 

    if(formEntity.minPrice.value!='' || formEntity.maxPrice.value!='') {
                        if(formEntity.minPrice.value=='') {
                              formEntity.minPrice.value='*';
                        }
                        if(formEntity.maxPrice.value=='') {
                              formEntity.maxPrice.value='*';
                        }
      price.value = "[" + formEntity.minPrice.value + " TO "+formEntity.maxPrice.value+"]";
    }
    
  }


</script>
  <script type="text/javascript" src="store/$vendorSettingsDTO.vendorId/assets/themes/$vendorSettingsDTO.skinname/js/category.js"></script>
  <script type="text/javascript" language="javascript">
    Category.initialize();
  </script>
  </body>
</html>